<style type="text/css" media="screen">
    #editor_window {
        position: relative;
        height: 500px;
    }
    #selection_window {
        position: relative;
        overflow-x: auto;
    }
</style>
<link rel="stylesheet" href="/js/jsTree/themes/default/style.min.css" />
<div id="editor" data-bind="with: scriptEditor" class="page">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Select a file</h3></div>
                <div class="panel-body">
                    <div id="selection_window"></div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Caldera Script Editor</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group" data-bind="visible: fileOK()">
                    <div id="editor_window"></div>
                    <p>Current File: <span data-bind="text: editing_file" style="font-weight:bold"></span></p>
                    <button class="btn btn-primary" data-bind="click: saveFile" style="float: right;">Save</button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group" data-bind="visible: !fileOK()">
                        <p>Warning: This filetype is not currently supported by the editor <span
                                data-bind="text: file_extend" style="color:crimson; font-weight:bold"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>