<div id="active_adversary" data-bind="with: active_adversary" class="page">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Adversary <span data-bind="text: active_name"></span></h3></div>
                <div class="panel-body">
                    <label style="width: 100%">Name
                        <a class="hover-parent pull-right" data-bind="attr: {href: edit_url}">
                            <span class="on-hover">Edit</span>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </label>
                    <p data-bind="text: active_name"></p>
                    <label>Steps</label>
                    <ul data-bind="foreach: steps">
                        <li><a data-bind="attr: {href: step_url}"><span data-bind="text: display_name"></span></a> - <span data-bind="text: summary"></span></li>
                    </ul>
                    <label>Artifact Lists</label>
                    <ul data-bind="foreach: artifactlists">
                        <li><strong data-bind="text: name"></strong> - <span data-bind="text: description"></span></li>
                    </ul>
                    <label>Exfil Method</label><br>
                    <ul>
                        <li><strong>name</strong>: <span data-bind="text: exfil_method_name"></span></li>
                        <li><strong>address</strong>: <span data-bind="text: exfil_method_address"></span></li>
                        <li><strong>port</strong>: <span data-bind="text: exfil_method_port"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
