# Planning service code
/app/service/planning_svc.py    @ArtificialErmine @elegantmoose
/app/service/interfaces/i_planning_svc.py    @ArtificialErmine @elegantmoose
/app/utility/base_planning_svc.py   @ArtificialErmine @elegantmoose
/tests/services/test_planning_svc.py  @ArtificialErmine @elegantmoose
