<div id="steps" data-bind="with: steps" class="page">
    <div class="row">
        <div class="container">
            <h3>Configured Steps</h3>
            <div class="well well-sm">
                Filter by:
                <div class="row">
                     <div class="col-md-2">
                         <div class="">
                             <label for="step-filter-tactic">ATT&CK Tactic</label>
                         </div>
                         <select id="step-filter-tactic" multiple="multiple" data-bind="selectedOptions: selectedTactics,
                                                                                        options: tacticFilter,
                                                                                        optionsText: 'name',
                                                                                        optionsValue: '_id',
                                                                                        multiselect: {
                                                                                            includeSelectAllOption: true
                                                                                        }"></select>
                    </div>
                    <div class="col-md-2">
                         <div class="">
                            <label for="step-filter-technique"> ATT&CK Technique</label>
                         </div>
                        <select id='step-filter-technique' multiple="multiple" data-bind="selectedOptions: selectedTechniques,
                                                                                          options: techniqueFilter,
                                                                                          optionsText: 'name',
                                                                                          optionsValue: '_id',
                                                                                          multiselect: {
                                                                                              includeSelectAllOption: true
                                                                                          }"></select>
                    </div>
                </div>
            </div>
            <div data-bind="foreach: filtered">
                <div class="panel panel-default">
                    <div class="panel-heading" data-bind="click: $parent.view_step">
                        <h3 class="panel-title" data-bind="text: display_name"></h3>
                    </div>
                    <div class="panel-body">
                        <label style="width:100%">Summary
                        <a class="hover-parent pull-right" data-bind="attr: {href: url}">
                            <span class="on-hover">Edit</span>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        </label>
                        <pre data-bind="text: summary" style="margin-bottom: 15px"></pre>
                        <label>ATT&CK Mapping</label>
                        <div data-bind="foreach: step_bindings" style="margin-bottom: 15px">
                            <a style="text-decoration: none;" data-bind="attr: {href: $data.technique.url}">
                                <span class="label label-default" data-bind="text: $data.technique.name + ' (' + $data.tactic.name + ')'"></span>
                            </a>
                        </div>
                        <a data-bind="attr: {href: '#step_view/' + $data._id}">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>