*.pyc
*.crt
*.exe
*.pyd
*.DS_Store
*.spec
*.pstat
*.tokens
*__pycache__*
.history/*
.idea/*
logs/*
!logs/.gitkeep
core.db
.venv/
venv/
calderaenv/
.env
conf/*.yml
!conf/default.yml
data/object_store
data/fact_store
data/results/*
!data/results/.gitkeep
data/payloads/*
!data/payloads/.gitkeep
data/facts/*yml
!data/facts/.gitkeep
data/sources/*
!data/sources/.gitkeep
data/objectives/*
!data/objectives/.gitkeep
data/backup/*
!data/backup/.gitkeep
.tox/
node_modules/

# coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
_*/
