*.pyc
*.crt
*.exe
*.pyd
*.DS_Store
*.spec
*.pstat
*.tokens
*__pycache__*
.history/*
.idea/*
logs/*
!logs/.gitkeep
core.db
.venv/
venv/
calderaenv/
.env
conf/*.yml
!conf/default.yml
data/object_store
data/fact_store
data/results/*
!data/results/.gitkeep
data/payloads/*
!data/payloads/.gitkeep
data/facts/*yml
!data/facts/.gitkeep
data/sources/*
!data/sources/.gitkeep
data/objectives/*
!data/objectives/.gitkeep
data/backup/*
!data/backup/.gitkeep
data/adversaries/*
data/adversaries/**/*.yml
!data/adversaries/.gitkeep
!data/adversaries/.gitkeep
data/operations/*
data/abilities/**/*.yml
!data/abilities/.gitkeep
!data/operations/.gitkeep
.tox/
node_modules/
plugins/mcp
plugins/automation
plugins/range
plugins/spp
mlruns
mlruns.db
# coverage reports
htmlcov/
.coverage
.coverage.*
.coveragerc
*,cover
_*/
