[submodule "plugins/chain"]
	path = plugins/chain
	url = https://github.com/mitre/chain.git
[submodule "plugins/gui"]
	path = plugins/gui
	url = https://github.com/mitre/gui.git
[submodule "plugins/sandcat"]
	path = plugins/sandcat
	url = https://github.com/mitre/sandcat.git
[submodule "plugins/stockpile"]
	path = plugins/stockpile
	url = https://github.com/mitre/stockpile.git
[submodule "plugins/ssl"]
	path = plugins/ssl
	url = https://github.com/mitre/ssl.git
[submodule "plugins/caltack"]
	path = plugins/caltack
	url = https://github.com/mitre/caltack.git
[submodule "plugins/terminal"]
	path = plugins/terminal
	url = https://github.com/mitre/terminal.git
[submodule "plugins/mock"]
	path = plugins/mock
	url = https://github.com/mitre/mock.git
[submodule "plugins/dark"]
	path = plugins/dark
	url = https://gitlab.mitre.org/caldera/dark.git
