*.pyc
*.crt
*.exe
*.pyd
*.DS_Store
*.spec
*.pstat
*.tokens
*__pycache__*
.history/*
.idea/*
logs/*
!logs/.gitkeep
core.db
.venv/
venv/
calderaenv/
.env
conf/*.yml
!conf/default.yml
docs/_build
docs/_generated
data/object_store
data/results/*
!data/results/.gitkeep
data/payloads/*
!data/payloads/.gitkeep
data/facts/*yml
!data/facts/.gitkeep
