repos:
    - repo: https://github.com/PyCQA/flake8
      rev: 5.0.4
      hooks:
          - id: flake8
            additional_dependencies: [flake8-bugbear]
    - repo: https://github.com/PyCQA/bandit
      rev: 1.7.4
      hooks:
        - id: bandit
          entry: bandit -ll --exclude=tests/ --skip=B303
          additional_dependencies:
            - importlib-metadata<5; python_version < '3.8'
