services:
  caldera:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
      args:
        TZ: "UTC" # Timezone to use in container
        VARIANT: "slim"
    ports:
      - "8888:8888"
      - "8443:8443"
      - "7010:7010"
      - "7011:7011/udp"
      - "7012:7012"
      - "8853:8853"
      - "8022:8022"
      - "2222:2222"
    volumes:
      - ./:/usr/src/app
    command: ["python", "/usr/src/app/server.py", "--build"]
