<div id="artifactlists" data-bind="with: artifactlists" class="page">
    <div class="row">
        <div class="col-xs-10 col-md-offset-1">
            <h3>Artifact Lists</h3>
            <div data-bind="foreach: artifactlists">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-bind="text: name"></h3>
                    </div>
                    <div class="panel-body">
                        <label style="width: 100%">Description
                            <a class="hover-parent pull-right" data-bind="attr: {href: url}">
                                <span class="on-hover">Edit</span>
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </label>
                        <p data-bind="text: description" style="margin-bottom: 15px"></p>
                        <label>Services</label>
                        <ul data-bind="foreach: services" style="margin-bottom: 15px">
                            <li>
                                <span class="label label-default" data-bind="text: $data"></span>
                            </li>
                        </ul>
                        <label>DLLs</label>
                        <ul data-bind="foreach: dlls" style="margin-bottom: 15px">
                            <li>
                                <span class="label label-default" data-bind="text: $data"></span>
                            </li>
                        </ul>
                        <label>Schtasks</label>
                        <ul data-bind="foreach: schtasks" style="margin-bottom: 15px">
                            <li>
                                <span class="label label-default" data-bind="text: $data"></span>
                            </li>
                        </ul>
                        <label>Executables</label>
                        <ul data-bind="foreach: executables" style="margin-bottom: 15px">
                            <li>
                                <span class="label label-default" data-bind="text: $data"></span>
                            </li>
                        </ul>
                        <label>File Paths</label>
                        <ul data-bind="foreach: file_paths" style="margin-bottom: 15px">
                            <li>
                                <span class="label label-default" data-bind="text: $data"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>