<div id="client" data-bind="with: client" class="page">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Connected RATs</h1>
                </div>
                <table class="table">
                    <thead>
                        <tr><th></th><th>Host</th><th>Elevated</th><th>User Context</th><th>PID</th></tr>
                    </thead>
                    <tbody data-bind="foreach: rats">
                        <tr class="host_row deleteHover" onclick="$('.host_row').removeClass('active'); $(this).addClass('active');">
                            <td><button class="delete" data-bind="click: $parent.kill"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                            <td data-bind="text: host.hostname"></td>
                            <td data-bind="text: elevated"></td>
                            <td data-bind="text: username"></td>
                            <td data-bind="text: name"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>