<div id="adversaries" data-bind="with: adversaries" class="page">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Adversaries</h3>
				</div>
				<table class="table">
					<thead>
						<tr><th></th><th>Name</th><th>Steps</th></tr>
					</thead>
					<tbody data-bind="foreach: adversaries">
						<tr class="host_row deleteHover" onclick="$('.host_row').removeClass('active'); $(this).addClass('active');">
							<td><button class="delete" data-bind="click: $parent.remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
							<td data-bind="text: name, click: x => hasher.setHash('active_adversary/' + x._id)"></td>
							<td data-bind="text: steps.join(', '), click: x => hasher.setHash('active_adversary/' + x._id)"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>