<div id="operationForm" data-bind="with: operationForm" class="page">
    <div class="row">
        <div class="col-xs-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Create New Operation</h1>
                </div>
                <form class="form-horizontal panel-body" data-bind="submit: submit">
                    <div class="form-group">
                        <label for="operationName" class="control-label required col-sm-3"><abbr title="required">*</abbr>Name</label>
                        <div class="col-sm-9">
                            <input id="operationName" type="text" class="form-control" autocomplete="off" data-bind="value: name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="operationAdversaries" class="control-label required col-sm-3"><abbr title="required">*</abbr>Adversary</label>
                        <div class="col-sm-9">
                            <select id="operationAdversaries" class="form-control"
                                    data-bind="options: adversaries,
                                               optionsCaption: 'Choose One...',
                                               optionsText: 'name',
                                               optionsValue: '_id',
                                               value: adversary">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="operationNetworks" class="control-label required col-sm-3"><abbr title="required">*</abbr>Network</label>
                        <div class="col-sm-9">
                            <select id="operationNetworks" class="form-control"
                                    data-bind="options: networks,
                                               optionsCaption: 'Choose One...',
                                               optionsText: function(item) {
                                                   return item.name + ' (' + item.hosts.length + ' hosts)'
                                               },
                                               optionsValue: '_id',
                                               value: network">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label required col-sm-3"><abbr title="required">*</abbr>Starting Host</label>
                        <div class="col-sm-9">
                            <select class="form-control"
                                    data-bind="options: network_hosts,
                                               optionsCaption: 'Choose One...',
                                               optionsText: 'hostname',
                                               optionsValue: '_id',
                                               value: start_host">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label required col-sm-3"><abbr title="required">*</abbr>Start Method</label>
                        <div class="col-sm-9">
                            <label class="radio-inline">
                                <input type="radio" name="ratStartType" id="ratChoice1" value="existing" data-bind="checked: start_type"> Existing Rat
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="ratStartType" id="ratChoice2" value="wait" data-bind="checked: start_type"> Wait For New Rat
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="ratStartType" id="ratChoice3" value="bootstrap" data-bind="checked: start_type"> Bootstrap Rat
                            </label>
                        </div>
                    </div>
                    <div class="form-group" data-bind="visible: start_type() === 'existing'">
                        <label for="whichRatSelect" class="control-label required col-sm-3"><abbr title="required">*</abbr>Starting Rat</label>
                        <div class="col-sm-9">
                            <select class="form-control"
                                    id="whichRatSelect"
                                    data-bind="options: rats,
                                               optionsText: 'name',
                                               optionsValue: '_id',
                                               value: start_rat">
                            </select>
                        </div>
                    </div>
                    <div data-bind="visible: start_type() === 'bootstrap'">
                        <div class="form-group">
                            <label for="operationFilePath" class="control-label required col-sm-3">Start Path</label>
                            <div class="col-sm-9">
                                <input id="operationFilePath" type="text" class="form-control" data-bind="value: start_path">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label required col-sm-3"><abbr title="required">*</abbr>Starting User</label>
                            <div class="col-sm-9">
                                <label class="radio-inline">
                                    <input type="radio" name="userChoice" id="inlineRadio1" value="system" data-bind="checked: user_type"> SYSTEM
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="userChoice" id="inlineRadio2" value="active" data-bind="checked: user_type"> Active User
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="userChoice" id="inlineRadio3" value="custom" data-bind="checked: user_type"> Logon User
                                </label>
                            </div>
                        </div>
                        <div data-bind="visible: user_type() === 'active' || user_type() === 'custom'">
                            <div class="form-group">
                                <label for="operationParentProcess" class="control-label required col-sm-3">Parent Process</label>
                                <div class="col-sm-9">
                                    <input id="operationParentProcess" class="form-control" data-bind="textInput: parent_process">
                                </div>
                            </div>
                        </div>
                        <div data-bind="visible: user_type() === 'custom'">
                            <div class="form-group">
                                <label for="operationStartUser" class="control-label required col-sm-3"><abbr title="required">*</abbr>Starting User Name</label>
                                <div class="col-sm-9">
                                    <input id="operationStartUser" class="form-control" data-bind="textInput: start_user">
                                  <div class="form-group" data-bind="visible: !usernameOK()">
                                    <span style="color:red">Please provide a valid username formatted as <code>Domain\User</code></span>
                                  </div>
                                </div>
                            </div>
                             <div class="form-group">
                                <label for="operationStartPassword" class="control-label required col-sm-3"><abbr title="required">*</abbr>Starting User Password</label>
                                <div class="col-sm-9">
                                    <input id="operationStartPassword" type="text" class="form-control" data-bind="value: start_password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label required col-sm-3"><abbr title="required">*</abbr>Auto-Cleanup</label>
                        <div class="col-sm-9">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="performCleanup" id="performCleanup" data-bind="checked: perform_cleanup">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="commandDelay" class="control-label required col-sm-3"><abbr title="required">*</abbr>Command Delay (ms)</label>
                        <div class="col-sm-9">
                            <input id="commandDelay" class="form-control" autocomplete="off" data-bind="value: delay">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="commandJitter" class="control-label required col-sm-3"><abbr title="required">*</abbr>Command Jitter (ms)</label>
                        <div class="col-sm-9">
                            <input id="commandJitter" class="form-control" autocomplete="off" data-bind="value: jitter">
                        </div>
                    </div>
                    <button class="btn btn-primary" data-bind="css: {disabled: !formValidated()}" type="submit">Submit</button>
                </form>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Clone Previous Operation</h3></div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="operationClone" class="control-label required col-sm-3"><button class="btn btn-info" type="button" onclick="app.bindings.operationForm.clone_op()">
                            Clone</button></label>
                        <div class="col-sm-9">
                            <select id="operationClone" class="form-control"
                                    data-bind="options: operations,
                                               optionsCaption: 'Previous Operations...',
                                               optionsText: 'name',
                                               optionsValue: '_id',
                                               value: clone">
                            </select>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </div>
</div>
