.agent-map-box {
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 0.5em;
    border-left: 0.25em solid var(--theme-color);
    position: relative;
    padding: 10px;
}
.agent-map-box h4 {
    margin-left: 2%;
    padding-bottom: 2px;
    font-size: 13px;
}
.agent-map-box p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    margin-top: -5px;
    font-size: 13px;
    margin-left: 2%;
}
.profile-agent-map {
    float: left;
    width: 100%;
    margin-bottom: 3%;
}
.profile-agent-map li {
   font-size: 18px;
   color: var(--font-color);
   display: block;
   float: right;
   width:85%;
   margin-right: 9%;
   margin-bottom: 2%;
}