.home-box {
    border-radius: 25px;
}
.big-head {
    margin-bottom: -20px;
    font-size:165px;
    opacity:0.5;
}
.small-head {
    color:white;
    font-size: 22px;
    opacity:0.5;
}
.row-toolbar{
    margin: 0px -30px;
    display: flex;
}
.row-toolbar-section {
    padding: 0px 25px;
    display: inherit;
    border-right: 1px solid #1f1d1d;
}
.row-toolbar-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
    border: none;
    padding: 10px;
    width: 75px;
    color: white;
    font-size: 11px;
}
.row-toolbar-button:hover{
    background-color: var(--theme-color);
    filter: grayscale(75%);
    border: none;
}
.row-toolbar-button:focus {
    outline: none;
}
.row-toolbar-button img {
    height: 23px;
    width: 23px;
    padding-bottom: 5px;
    -webkit-filter: invert(1);
   filter: invert(1);
}
.row-toolbar-item {
    padding: 0px 25px;
}
.row-toolbar-item p{
    line-height: 22px;
    font-size: 18px;
    color: white;
}
.row-canvas{
    flex:40%;
}
.atomic-button {
    height:35px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border:none;
    border-radius: 25px;
}
.top-tip {
    position: absolute;
    color: var(--font-color);
    background-color: var(--theme-color);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    font-size: 13px;
}
.darkSelect {
    width:200px;
    background-color: var(--primary-background);
    border:none;
    color: var(--font-color);
}
.highlight {
  background-color: yellow;
}
.delete-agent {
    cursor: pointer;
}
.ability-table td {
    width: 30%;
    vertical-align: middle;
}
.ability-table tr {
    border-bottom:1px solid white;
}
.ability-table td+td {
  width: 100%;
}
.ability-table p {
    text-transform: uppercase;
    font-size: 16px;
    font-weight:600;
}
.ability-table input {
    min-height:35px;
    font-size:16px;
}
.ability-table ol {
   list-style: none;
   counter-reset: item;
}
.ability-table li {
    list-style-type: circle;
    margin-bottom: 5px;
    font-size:15px;
    color: var(--font-color);
    line-height: 25px;
}
.ability-table li:before {
   margin-right: 10px;
   color: var(--font-color);
   width: 1.2em;
   display: inline-block;
}
.ability-table select {
    background-color: inherit;
    width: 90%;
    height:22px;
    color: var(--font-color);
    margin-top: -5px;
    border: none;
    font-size:12px;
}
.ability-table input {
    background-color: inherit;
    border: none;
    color: var(--font-color);
    text-align: left;
}
.ability-table textarea {
    height: 150px;
    width: 100%;
    font-size: 14px;
    border:none;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    color: var(--font-color);
    background-color: inherit;
}
.adversary-header input {
    background-color: inherit;
    border: none;
    color: var(--font-color);
    text-align: left;
    padding-bottom: 20px;
}
.op-selected {
    visibility: hidden;
}
.op-dets img {
    border-radius: 50%;
    height:30px;
    width: auto;
    background-color: white;
    border: 2px solid var(--theme-color);
}
.op-dets h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}
.op-dets p {
    text-transform: uppercase;
}
.op-potential-links {
    float: right;
    font-size: 13px;
    margin-right: 5%;
    cursor: pointer;
}
.profile-tests {
    float: left;
    width: 100%;
}
.profile-tests li {
   font-size: 16px;
   color: var(--font-color);
   display: block;
   float: left;
   margin: 2px;
}
.ability-box {
    background-color: var(--primary-background);
    border-radius:15px;
    border: 0 none;
    position: relative;
    padding: 10px;
}
.ability-box h4 {
    margin-left: 2%;
    padding-bottom: 5px;
}
.ability-box p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: -10px;
    margin-left: 2%;
}
.ability-box img {
    height: 18px;
    margin: 5px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    filter: invert(var(--invert-percentage));
    margin-top: -3px;
    margin-bottom: -3px;
}
.ability-viewer {
    background-color: var(--primary-background);
    border: 1px solid black;
    border-radius: 10px;
}
.ability-viewer h3 {
    text-align: left;
    color: white;
    text-transform: none;
}
.ability-viewer p {
    text-align: left;
    color: white;
    font-size: 16px;
}
.ability-viewer td {
    color: white;
}
.ability-attack span {
    color: white;
    text-align: center;
    opacity:0.7;
}
.ability-attack input {
    margin: 2px;
    height: 12px;
    background-color: inherit;
    color:white;
    text-align:left;
    border-radius: 0;
}
.ability-attack img {
    height: 40px;
    border: none;
    border-radius: 50%;
    margin-bottom: -5px;
}
.ability-attack label {
    cursor: pointer;
}
.ability-viewer select {
    width: 30%;
}
.ttp-template input {
    height: 20px;
    width: 50%;
    border-bottom: 1px dotted var(--theme-color);
}
.ttp-template textarea {
  width: 99%;
  min-height: 75px;
  overflow: auto;
  border: none;
  margin: 0;
  font-size: 16px;
  background-color: var(--primary-background);
  color: white;
  padding: 5px;
}
.ttp-template input {
    text-align: left;
    background-color: var(--primary-background);
    color: white;
    border: None;
}
.ttp-template select {
    background: var(--primary-background);
    border: None;
    color: white;
    width: 70%;
}
.pack-phase-template {
    list-style-type: none;
}
#pack-phases h4 {
    text-align: left;
}
#pack-phases td {
    padding: 5px 8px;
}
#source-rules li {
    list-style-type:none;
}
.topright {
    position: absolute;
    top: 2px;
    right: 0;
    padding: 10px;
}
.topleft {
    position: absolute;
    top: 2px;
    left: 0;
    padding: 10px;
}
.bottomleft {
    position: absolute;
    bottom: 2px;
    left: 0;
    padding: 10px;
}
.removal {
    padding: 1px;
    border-radius: 5px;
    background-color: red;
    border: 1px solid black;
}
.removal p {
    font-size:16px;
}
.bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}
.phase-headers {
    text-align: left;
}
.ability-add {
    float: right;
    font-size: 13px;
    cursor: pointer;
}
.ability-remove {
    cursor: pointer;
}
.pack-add {
    float: right;
    font-size: 13px;
    margin-right: 20px;
    cursor: pointer;
}
.advGoal {
    font-size:36px;
    color: var(--font-color);
}
.icon-row {
    padding:5px;
    width: 95%;
    display: flex;
    position: relative;
}
.tag {
    font-size: 12px;
    border-radius: 6px;
    background-color: white;
    margin: 3px;
    color: black;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}
table.dataTable td.select-checkbox {
    position: relative;
}
table.dataTable td.select-checkbox:before, table.dataTable td.select-checkbox:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    box-sizing: border-box;
}
table.dataTable td.select-checkbox:before{
    content: ' ';
    margin-left: -6px;
    border: 1px solid white;
    border-radius: 3px;
}
table.dataTable tr.selected td.select-checkbox:after {
    content: '\2713';
    margin-top: -6px;
    margin-left: -4px;
    font-size: 1.7em;
    color: green;
    text-align: center;
}
table.dataTable input[type=text] {
    padding: 0;
    margin-top: 5px;
}
.decision-card td {
    color: var(--font-color);
}
.highlight {
  background-color: yellow;
  color: black;
}
.red-x {
    color: red;
    font-style: italic;
}

.adv-reqs {
    border-top:1px solid var(--font-color);
    float: left;
    width: 100%;
}

.adv-reqs h4 {
    margin-bottom:-5px;
    font-weight: 700;
    font-size: 16px;
    color: red;
}
.missing-facts-sublist{
    padding: 0 40px;
    float: left;
    margin-bottom: 20px;
    margin-top: 10px;
}
.missing-facts-sublist > li {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 12px;
}
#missingAdvReqs {
    padding-left: 0;
}
#missingAdvReqs > li {
    float: left;
    display: block;
    width: 100%;
    margin: 0;
}
.watermarked {
  position: relative;
}
.op-control-container{
    display: flex;
    width: 50%;
    justify-content: center;
}
.op-control-item{
    background-color: white;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: medium;
    vertical-align: center;
    width: 100%;
    flex-grow: 1;
    margin: 0 4px;
}
.op-control-text{
    text-transform: uppercase;
    background-color: var(--navbar-background);
    padding: 5px 5px 5px 5px;
    height: 30px;
    text-align: center;
    vertical-align: center;
    font-size: large;
    font-weight: bold;
    width: 5%
}
.op-control-item button {
    background-color: white;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: medium;
    vertical-align: center;
    width: 100%;
    white-space: nowrap;
}
.op-control-item .large {
    flex-grow: 2;
}

.op-control-item button:hover {
    cursor: pointer;
}
.codearea textarea {
    text-align: left;
    background-color: var(--primary-background);
    color:var(--font-color);
    border:none;
    display:inline-block;
    width: 100%;
    min-height: 400px;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
}
.legend {
    border-spacing:5px;
}
.legend td {
    padding: 6px;
    border-radius: 25px;
    font-size: 11px;
    color: white;
}
.legend .failure {
    background-color: red;
}
.legend .success {
    background-color: green;
}
.legend .timeout {
    background-color: cornflowerblue;
}
.legend .collected {
    background-color: darkgoldenrod;
}
.legend .untrusted {
    background-color: white;
    color: black;
}
.legend .visibility {
    background-color: #F012BE;
    color: white;
}
.legend .discarded {
    background-color: var(--primary-background);
}
.legend .queued {
    background-color: grey;
}
#myProgress {
  width: 75%;
  border-radius: 25px;
  background-color: grey;
}
#myBar {
  width: 10%;
  height: 30px;
  border-radius: 25px;
  background-color: var(--theme-color);
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: black;
}
.dotted {
    border: 1px solid white;
}
.dotted p {
    font-size: 11px;
    float: right;
    color: black;
}
.fact-area {
    padding: 5px;
}
.fact-area h4 {
    text-align: left;
    padding-left: 15px;
    margin-bottom: -5px;
}
.fact-area p {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}
#planner-description {
    font-size: 15px;
}
#c2-description {
    font-size: 15px;
}
.potential-button {
    float: right;
    text-align: center;
    width: 50px;
    height: 10px;
    margin: 0;
    line-height: 1px;
}