.chat-popup {
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 1px solid var(--navbar-color);
    z-index: 9;
}
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: var(--primary-background);
    color: white;
}
#chat-history {
    height: 300px;
    position: relative;
    overflow: auto;
}
