html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  background-color: #0000;
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 10px;
  height: 50px;
}
*::-webkit-scrollbar-corner {
  background-color: #0000;
  color: white;
}

.level {
  width: 100%;
}

#active-tab-display {
  color: white;
  max-width: initial;
}

[data-tooltip]::before {
  min-width: 150px;
}

.icon.is-close:hover {
  background-color: #929292;
  border-radius: 50%;
}

.is-underlined {
  text-decoration: underline;
}

main.main {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.main-content {
  width: calc(100% - 250px);
  background-color: #161616;
}

.menu {
  padding-bottom: 20px;
}

.menu-label.nav-header {
  cursor: default;
  color: white;
  background: none !important;
  border-bottom: 2px solid #8B0000;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  color: white !important;
  padding: 8px;
  border-radius: 4px;
  margin: 0 10px;
}

.menu-list a {
  padding: 0.25em 1.5em !important;
}

.menu-list a:hover {
  border-radius: 4px;
  margin: 0 10px;
}

.modal-card {
  border: 1px solid #262626;
  border-radius: 4px;
}

@media screen and (min-width: 1000px) {
  .modal-card.wide {
    width: 1000px;
  }
}

.modal-card-body {
  scrollbar-color: #3f3f3f #0000;
}

.modal-card-foot {
  padding: 10px 20px !important;
}

.navigation {
  background-color: #060606;
  width: 250px;
}

.nav-logo {
  width: 100%;
  display: flex;
  padding: 2em 3em;
  justify-content: center;
}

.nav-logo img {
  max-height: 150px;
  cursor: pointer;
}

#nav-menu {
  background-color: #060606;
}

.nav-item.disabled {
  color: #a0a0a0;
}
.nav-item:hover.disabled {
  background-color: transparent;
  color: #a0a0a0;
  cursor: default;
  margin: 0;
}

#no-open-tabs {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav.tabs {
  display: block !important;
  margin-bottom: 0 !important;
  padding: 10px 10px 0 10px;
  background-color: #111;
}

.nav.tabs a {
  padding: 5px 10px !important;
}

.nav.tabs.is-boxed a {
  border-radius: 4px !important;
  margin-right: 4px;
}

.nav.tabs ul {
  padding-bottom: 10px;
  min-height: 52px;
  border: 0 !important;
}

#startup-errors-warning {
  font-size: 0.8em;
  padding: 10px;
}

.tab-delete:hover {
  border-radius: 4px;
  background-color: #06060633;
}

.toast {
  padding: 10px 10px !important;
  border-radius: 4px !important;
}

.user-badge {
  cursor: default !important;
}
