html, body {
  min-height: 100%;
  scroll-behavior: smooth;
}

#active-tab-display {
  color: white;
}

.icon.is-close:hover {
  background-color: #929292;
  border-radius: 50%;
}

main.main {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.main-content.collapsed {
  width: calc(100% - 320px);
}
.main-content.expanded {
  width: calc(100% - 220px);
}

.menu-label {
  color: white !important;
  padding: 8px;
  border-radius: 4px;
  margin: 10px;
}

.menu-list a {
  margin: 0 10px;
}

.menu-list a:hover {
  border-radius: 4px;
  margin: 0 10px;
}

.navigation {
  background-color: black;
}

.navigation.expanded {
  width: 300px;
}

.navigation.collapsed {
  width: 200px;
}

#nav-footer {
  padding: 20px;
}

.nav-logo {
  background-image: url('/gui/img/back-red.png');
  background-size: contain;
  width: 100%;
  height: 15vw;
  background-position: center;
  background-repeat: no-repeat;
}

#no-open-tabs {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: block !important;
  margin-bottom: 0 !important;
  padding: 10px;
}
.tabs.is-boxed a {
  border-radius: 4px !important;
  margin-right: 4px;
}
.tabs ul {
  padding-bottom: 10px;
  min-height: 52px;
}
