html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}

#active-tab-display {
  color: white;
  max-width: initial;
}

[data-tooltip]::before {
  min-width: 150px;
}

.icon.is-close:hover {
  background-color: #929292;
  border-radius: 50%;
}

main.main {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.main-content {
  width: calc(100% - 270px);
}

.menu {
  padding-bottom: 20px;
}

.menu-label {
  color: white !important;
  padding: 8px;
  border-radius: 4px;
  margin: 10px;
}

.menu-list a {
  margin: 0 10px;
}

.menu-list a:hover {
  border-radius: 4px;
  margin: 0 10px;
}

.modal-card {
  border: 1px solid #262626;
  border-radius: 4px;
}
@media screen and (min-width: 1000px) {
  .modal-card.wide {
    width: 1000px;
  } 
}

.modal-card-foot {
  padding: 10px 20px !important;
}

.navigation {
  background-color: black;
  width: 250px;
}

.nav-logo {
  width: 100%;
  display: flex;
  padding: 2em 3em;
  justify-content: center;
}

#no-open-tabs {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav.tabs {
  display: block !important;
  margin-bottom: 0 !important;
  padding: 10px;
}

.nav.tabs a {
  padding: 5px 10px !important;
}

.nav.tabs.is-boxed a {
  border-radius: 4px !important;
  margin-right: 4px;
}

.nav.tabs ul {
  padding-bottom: 10px;
  min-height: 52px;
}

.toast {
  padding: 10px 10px !important;
  border-radius: 4px !important;
}
