.file-explorer img {
  height: 23px;
  width: 23px;
  border-radius: 0;
  border: none;
  margin: 0;
  padding: 3px;
  background-color: transparent;
  -webkit-filter: invert(1);
  filter: invert(1);
  vertical-align: middle;
}

.file-explorer .folder {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
