* {
  box-sizing: border-box;
}
*:focus {
	outline: none;
}
.login {
    border: 1px solid var(--secondary-background);
    margin: 20px auto;
    width: 300px;
}
.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}
.app-title {
    text-align: center;
    color: #777;
}
.login-form {
    text-align: center;
}
.control-group {
    margin-bottom: 10px;
}
