input[type=text], input[type=password], input[type=number] {
    width: 100%;
    height: 30px;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-top: 15px;
    border-radius: 10px;
}
select {
   overflow: hidden;
   background: white;
   font-size: 14px;
   height: 30px;
   width: 100%;
   padding: 5px 15px;
   margin-top: 15px;
   border-radius: 10px;
}
.modal button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90%;
}
.modal button:hover {
    opacity: 0.6;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #7a1f1f;
}
.imgcontainer {
    text-align: center;
    position: relative;
    margin-bottom: 25px;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}
.container {
    padding: 16px;
}
span.psw {
    float: right;
    padding-top: 16px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    padding-top: 40px;
    overflow-y: scroll;
    height: 100%;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}
.modal-content {
    margin: 5% auto 5% auto;
    width: 85%;
}
.modal p {
    color: #333;
}
.modal-box {
    max-height: 80%;
    overflow: auto;
    overflow-y: auto;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: red;
    font-size: 35px;
    font-weight: bold;
}
.modal .approve{
    background-color: green;
}
.modal .discard{
    background-color: darkorange;
}
.modal .approveall{
    background-color: darkgreen;
}

.close:hover,
.close:focus {
    color: #7a1f1f;
    cursor: pointer;
}
#alert-modal {
    z-index: 120;
}
.config-arg input {
    padding: 5px;
    margin: 5px;
    text-align: left;
    font-size: 13px
}
.config-arg label {
    color: white;
    font-size: 14px
}
.config-arg {
    vertical-align: initial;
}
p.command {
    padding: 10px;
    width: 85%;
    color: white;
    font-size: 13px;
    font-style:italic;
    background-color: rgba(170, 170, 170, 0.15);
}
#queueTimeout {
    height: 30px;
    width: 75%;
    margin: 5px;
    margin-top: 8px;
}