html input[type="range"] {
  outline: 0;
  border: 0;
  border-radius: 500px;
  margin: 24px 0 16px;
  transition: box-shadow 0.2s ease-in-out;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  html input[type="range"] {
    overflow: hidden;
    height: 30px;
    -webkit-appearance: none;
    background-color: #ddd;
  }
  html input[type="range"]::-webkit-slider-runnable-track {
    height: 30px;
    -webkit-appearance: none;
    color: #444;
    transition: box-shadow 0.2s ease-in-out;
  }
  html input[type="range"]::-webkit-slider-thumb {
    width: 40px;
    -webkit-appearance: none;
    height: 30px;
    cursor: ew-resize;
    background: #fff;
    box-shadow: -340px 0 0 320px green, inset 0 0 0 40px green;
    border-radius: 50%;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
  }
  html input[type="range"]:active::-webkit-slider-thumb {
    background: #fff;
    box-shadow: -340px 0 0 320px green, inset 0 0 0 3px green;
  }
}
html input[type="range"]::-moz-range-progress {
  background-color: green;
}
html input[type="range"]::-moz-range-track {
  background-color: red;
}
html input[type="range"]::-ms-fill-lower {
  background-color: green;
}
html input[type="range"]::-ms-fill-upper {
  background-color: red;
}

#h4-container {
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}
#h4-container #h4-subcontainer {
  position: relative;
}
#h4-container #h4-subcontainer h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 40px;
  height: 30px;
  color: #fff !important;
  font-size: 12px;
  -webkit-transform-origin: center -10px;
          transform-origin: center -10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: margin-top 0.15s ease-in-out, opacity 0.15s ease-in-out;
}
#h4-container #h4-subcontainer h4 span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: green;
  border-radius: 0 50% 50% 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
}

input:not(:active) + #h4-container h4 {
  opacity: 0;
  margin-top: -50px;
  pointer-events: none;
}
