:root {
  --navbar-color: #750b20;
  background-image: url('/gui/img/back-red.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 1;
  transition: 0.7s opacity;
  --default-font: 'Veranda', sans-serif;
  --theme-color: white;
  --primary-background: #1e1e1e;
  --secondary-background: #666;
  --font-color: white;
  --invert-percentage: 100%;
}