<div id="operations" data-bind="with: operations" class="page">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Operations</h3></div>
                <table class="table">
                    <thead>
                        <tr><th></th><th>Name</th><th>Adversary</th><th>Started</th><th>Status</th></tr>
                    </thead>
                    <tbody data-bind="foreach: operations">
                        <tr class="host_row deleteHover" onmouseout="$(this).removeClass('active');" onmouseover="$(this).addClass('active');">
                            <td><button class="delete" data-bind="click: $parent.remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                            <td data-bind="text: name, click: x => hasher.setHash('active_operation/' + x._id)"></td>
                            <td data-bind="text: adversary, click: x => hasher.setHash('active_operation/' + x._id)"></td>
                            <td data-bind="text: start_time.toLocaleString(), click: x => hasher.setHash('active_operation/' + x._id)"></td>
                            <td data-bind="text: status, click: x => hasher.setHash('active_operation/' + x._id)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>