aiohttp==2.3.9
aiohttp-jinja2==0.14.0
antlr4-python3-runtime==4.7
asn1crypto==0.24.0
async-timeout==2.0.0
certifi==2017.11.5
cffi==1.11.4
chardet==3.0.4
cryptography==2.3
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mongoengine==0.15.3
multidict==4.0.0
multipledispatch==0.4.9
pycparser==2.18
pyDatalog==0.17.1
pymongo==3.7.0
PyYAML==3.12
requests==2.20.0
six==1.11.0
toolz==0.9.0
ujson==1.35
unification==0.2.2
urllib3==1.22
yarl==1.0.0
