<div id="add_network" data-bind="with: add_network" class="article page">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h1 class="panel-title">Create New Network</h1></div>
                <form class="form-horizontal panel-body" data-bind="submit: submit">
                    <div class="form-group">
                        <label for="name" class="control-label required col-sm-3"><abbr title="required">*</abbr>Name</label>
                        <div class="col-sm-9">
                            <input name="name" type="text" id="name" class="form-control" data-bind="value: name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="domain" class="control-label required col-sm-3"><abbr title="required">*</abbr>Domain</label>
                        <div class="col-sm-9">
                            <select name="domain" id="domain" class="form-control"
                                    data-bind="options: domains,
                                               optionsText: 'dns_domain',
                                               optionsValue: '_id',
                                               value: domain">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="agents" class="control-label required col-sm-3"><abbr title="required">*</abbr>Hosts
                        </label>
                        <div class="col-sm-9">
                            <select name="agents" id="agents" class="form-control"
                                    data-bind="options: domain_hosts,
                                               optionsText: 'hostname',
                                               optionsValue: '_id',
                                               selectedOptions: hosts,
                                               multiselect: {
                                                   includeSelectAllOption: true
                                               }"
                                    multiple="multiple">
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>