<div id="active_network" data-bind="with: active_network" class="page">
	<div class="row">
		<div id="networkView" class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-body">
					<div id="opGraph"></div>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 data-bind="with: active" class="panel-title">Network <span data-bind="text: name"></span></h3>
				</div>
				<table class="table">
					<thead>
						<tr><th></th><th>hostname</th><th>Status</th></tr>
					</thead>
					<tbody data-bind="foreach: hosts">
						<tr class="host_row deleteHover" onclick="$('.host_row').removeClass('active'); $(this).addClass('active');">
							<td><button class="delete" data-bind="click: $parent.hostRemove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
							<td data-bind="text: hostname"></td>
							<td data-bind="text: status"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Add a New Host</h3>
				</div>
				<form class="form-horizontal panel-body" data-bind="submit: hostAdd">
					<div class="input-group">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
						</span>
						<select class="form-control"
							data-bind="options: unhosts,
									   optionsText: 'hostname',
									   value: hostToAdd">
						</select>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>