<div class="modal fade" id="passwordEdit" tabindex="-1" role="dialog" aria-labelledby="passwordEditModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Change My Password</h4>
      </div>
      <div class="modal-body" data-bind="with: password_modal">
        <form data-bind="submit: changePassword" style="margin-bottom: 2em;">
          <div class="form-group">
            <label for="passworEditPassword1">Password</label>
            <input id="passworEditPassword1" type="password" class="form-control" data-bind="textInput: password1">
          </div>
          <div class="form-group">
            <label for="passworEditPassword2">Retype Password</label>
            <input id="passworEditPassword2" type="password" class="form-control" data-bind="textInput: password2">
          </div>
          <div class="form-group" data-bind="visible: !passwordOK()">
            <span style="color:red" data-bind="text: password_message"></span>
          </div>
          <div class="form-group" style="margin-bottom: 0">
            <button class="btn btn-block btn-primary" data-bind="css: {disabled: !passwordOK()}" type="submit">Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>