<html>
    <head>
        <title>Blue | CALDERA</title>
        <link rel="shortcut icon" type="image/png" href="/gui/img/favicon.png"/>
        <link rel="stylesheet" href="/gui/css/shared.css">
        <link rel="stylesheet" href="/gui/css/core.css">
        <link rel="stylesheet" href="/gui/css/modal.css">
        <link rel="stylesheet" href="/gui/css/basic.css">
        <link rel="stylesheet" href="/gui/css/timeline.css">
        <link rel="stylesheet" href="/gui/css/multi-select.css">
        <link rel="stylesheet" href="/gui/css/lib/custom-bulma-blue.css">
        <link rel="stylesheet" href="/gui/css/lib/bulma-tooltip.min.css">
        <link href="/gui/css/lib/fa-all.min.css" rel="stylesheet">
    </head>
    <body>
        <main id="home" class="main" x-data="alpineCore()">
            <div class="navigation">
                <div class="nav-logo">
                    <img src="/gui/img/caldera-logo.png" alt="CALDERA logo"/>
                </div>
                <template x-if="errors.length > 0">
                    <div class="is-flex is-justify-content-center">
                        <button class="button no-style is-warning is-small is-inverted startup-errors-warning">
                            <i class="fas fa-exclamation-triangle pr-1"></i>
                            <span title="Click for to view startup errors" x-text="`${errors.length} startup errors`" @click="showErrors = true"></span>
                        </button>
                    </div>
                </template>
                <aside class="menu">
                    <p class="menu-label"><i class="fas fa-flag pr-2"></i>Campaigns</p>
                    <ul class="menu-list">
                        <li><a href="#home" x-on:click="addTab('agents', '/campaign/agents')">agents</a></li>
                        <li><a href="#home" x-on:click="addTab('abilities', '/campaign/abilities')">abilities</a></li>
                        <li><a href="#home" x-on:click="addTab('adversaries', '/campaign/profiles')">defenders</a></li>
                        <li><a href="#home" x-on:click="addTab('operations', '/campaign/operations')">operations</a></li>
                    </ul>
                    <p class="menu-label"><i class="fas fa-puzzle-piece pr-2"></i>Plugins</p>
                    <ul class="menu-list">
                        {% for plugin in plugins | sort(attribute='name') %}
                        <li><a x-on:click="addTab('{{ plugin.name }}', '{{ plugin.address }}')">{{ plugin.name }}
                            <template x-if="`{{plugin.name | e}}`=== 'fieldmanual'">
                                <sup><i class="fas fa-external-link-alt pl-1 is-size-7"></i></sup>
                            </template></a></li>
                        {% endfor %}
                    </ul>
                    <p class="menu-label"><i class="fas fa-cog pr-2"></i></i>Configuration</p>
                    <ul class="menu-list">
                        <li><a href="#home" x-on:click="addTab('example', 0)">example</a></li>
                        <li><a href="#home" x-on:click="addTab('fact sources', '/advanced/sources')">fact sources</a></li>
                        <li><a href="#home" x-on:click="addTab('objectives', '/advanced/objectives')">objectives</a></li>
                        <li><a href="#home" x-on:click="addTab('planners', '/advanced/planners')">planners</a></li>
                        <li><a href="#home" x-on:click="addTab('contacts', '/advanced/contacts')">contacts</a></li>
                        <li><a href="#home" x-on:click="addTab('obfuscators', '/advanced/obfuscators')">obfuscators</a></li>
                        <li><a href="#home" x-on:click="addTab('configuration', '/advanced/configurations')">configuration</a></li>
                        <li><a href="#home" x-on:click="addTab('exfilled files', '/advanced/exfills')">exfilled files</a></li>
                    </ul>
                    <br>
                    <ul class="menu-list has-text-centered">
                        <li>
                            <a href="/logout">
                                <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                                <span>Log out</span>
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>

            <div class="main-content">
                <div class="tabs nav is-boxed">
                    <!-- TODO: Make tabs re-arrangeable (may require external library) -->
                    <ul>
                        <template x-for="(tab, index) in openTabs" :key="index">
                            <li x-bind:class="activeTabIndex === index ? 'is-active' : ''" draggable="true">
                                <a x-on:click="activeTabIndex = index">
                                    <span x-text="tab.name"></span>
                                    <button class="delete" x-on:click="deleteTab(index, tab.contentID)"></button>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>

                <div id="active-tab-display" class="container content"></div>

                <div id="no-open-tabs" x-show="openTabs.length === 0">
                    <p>
                        Select a tab on the left to get started
                    </p>
                    <p>
                        <a href="http://localhost:8888/docs/Getting-started.html" target="blank">Getting Started Guide</a>
                    </p>
                </div>
            </div>

            <div x-bind:class="{ 'is-active': showErrors }" class="modal">
                <div class="modal-background" @click="showErrors = false"></div>
                <div class="modal-card">
                    <div>
                        <header class="modal-card-head">
                            <h2>Startup Errors</h2>
                        </header>
                        <section class="modal-card-body">
                            <div class="modal-form">
                                <template x-if="!errors || errors.length < 1">
                                    <div class="is-flex is-justify-content-center">
                                        <em>No startup errors.</em>
                                    </div>
                                </template>
                                <template x-for="error of errors" :key="error.msg">
                                    <article class="media">
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong x-text="error.name"></strong>
                                                    <br>
                                                    <span x-text="error.msg"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </template>
                            </div>
                        </section>
                    </div>
                    <footer class="modal-card-foot">
                        <button class="button is-primary is-small is-fullwidth" @click="showErrors = false">Close</button>
                    </footer>
                </div>
            </div>
        </main>

        <script>
            let startupErrors = {{ errors | tojson }};
        </script>

        <!-- TODO: Remove JQuery as dependency (when possible) -->
        <script src="/gui/jquery/jquery.js"></script>
        <script src="/gui/jquery/jquery.multi-select.js"></script>
        <script src="/gui/js/shared.js"></script>
        <script src="/gui/js/core.js"></script>
        <script defer src="/gui/js/lib/alpine.min.js"></script>
        <script src="/gui/js/lib/bulma-toast.min.js"></script>
    </body>
</html>
