<html>
<head>
      <title>Blue | Dashboard</title>
      <link rel="shortcut icon" type="image/png" href="/gui/img/favicon.png"/>
      <link rel="stylesheet" href="/gui/css/blue.css">
      <link rel="stylesheet" href="/gui/css/shared.css">
      <link rel="stylesheet" href="/gui/css/navbar.css">
      <link rel="stylesheet" href="/gui/css/modal.css">
      <link rel="stylesheet" href="/gui/css/basic.css">
      <link rel="stylesheet" href="/gui/css/timeline.css">
    </head>
    <body>
        <div class="navbar-buffer">
            <div class="navbar">
                  <a href="/blue">Home</a>
                  <a href="/logout" style="float:right">Logout</a>
                  <a href="/docs/index.html" style="float:right" target="_blank">Docs</a>
            </div>
        </div>
        <div style="margin-bottom:75px"></div>

        <div id="notice" class="notice" style="display:none">Chrome is the only supported browser. Please change to that or some website components may not work.</div>

        <center>
            <div id="intro" class="home-box watermark">
                <h1 id="big-head" class="big-head">CALDEBA</h1>
                <hr style="width:70%">
                <h3 id="sub-head" class="small-head">Cyber Adversary Language and Decision Engine for Blue Team Automation</h3>
            </div>

            <div id="section-container"></div>

            <div id="duk-modal" class="modal">
                <form class="modal-content">
                    <div class="container modal-box">
                        <div class="row duk-modal">
                            <span onclick="document.getElementById('duk-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
                            <div class="column" style="flex:8%">
                                <img src="/gui/img/duk.png"/>
                            </div>
                            <div class="column" style="flex:92%">
                                <p id="duk-text" style="color: white"></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </center>

        <div style="margin-bottom: 100px"></div>

        <div class="footer">
            <p id="streamer"></p>
        </div>

    </body>
    <script src="/gui/jquery/jquery.js"></script>
    <script src="/gui/js/shared.js"></script>
</html>
