<link rel="stylesheet" href="/gui/css/chat.css">
<div id="chat" class="section-profile">
    <div class="chat-popup form-container" id="myForm">
        <div id="chat-history">
            <ul id="chatter"></ul>
        </div>
        <input id="mymsg" type="text" placeholder="Type message.." name="msg"/>
        <button type="button" class="button-warn" onclick="closeForm()">Close</button>
    </div>
</div>

<li id="chat-line" style="display: none">
    <p id="chat-line-text"></p>
</li>

<script src="/gui/js/chat.js"></script>