<link rel="stylesheet" href="/gui/css/chat.css">

<div id="chat" class="section-profile">
    <div class="chat-popup form-container" id="myForm">
        <div id="chat-header" onclick="toggleChat()">
            <p id="chat-header-text">Conversations</p><img onclick="closeForm()" src="/gui/img/x.png">
        </div>
        <div id="chat-body">
            <ul id="chatter"></ul>
        </div>
        <div id="chat-footer">
            <input id="mymsg" type="text" placeholder="Type message.." name="msg"/>
        </div>
    </div>
</div>

<li id="chat-line" style="display: none">
    <p id="chat-line-text"></p>
    <p id="timestamp"></p>
</li>

<script>
    let config = {{config|safe}};

    let chatWindow = $('#mymsg');
    chatWindow.keyup(function(e){
        if(e.keyCode === 13 && chatWindow.val()) {
            let message = chatWindow.val();
            config.teammates.forEach(function(ip) {
                openSocket(ip, message);
            });
            writeMessage(message, false);
        }
    });

    function openSocket(ip, msg) {
        console.log('sending to: '+ip);
        let websocket = new WebSocket('ws://'+ip+':7012/chat');
        websocket.onopen = function(evt) { console.log('opened socket to: '+ ip); };
        websocket.onclose = function(evt) { console.log('closed socket to: '+ ip); };
        websocket.onmessage = function(evt) { console.log('sending msg to: '+ ip);websocket.send(msg); };
        websocket.onerror = function(evt) { console.log('error on: '+ ip); };
    }

    function writeMessage(m, incoming) {
        let line = $("#chat-line").clone();
        let now = new Date()
        line.find('#chat-line-text').text(m).html();
        line.find('#timestamp').html(now.toLocaleString());
        line.show();
        if(incoming) {line.prop('class','incoming')} else {line.prop('class','outgoing')}
        let isScrolled = scrolled();
        $('#chatter').append(line);
        chatWindow.val('');
        if(!isScrolled){scrollBottom();}
        if($('#chat-body').is(":hidden")){$('#chat-header-text').html('*unread messages*')}
    }

    function scrolled(){
        let c = $('#chatter');
        return c.prop('scrollHeight') - c.prop('clientHeight') >= c.prop('scrollTop') + 50
    }

    function scrollBottom(){
        let c = $('#chatter');
        c.prop('scrollTop', c.prop('scrollHeight') - c.prop('clientHeight'));
    }

    function toggleChat(){
        $('#chat-body').slideToggle();
        $('#chat-footer').slideToggle();
        if(!$('#chat-body').is(":hidden")){$('#chat-header-text').html('Conversations')}
    }

    function closeForm(){
        document.getElementById("myForm").style.display = "none";
    }
</script>