<div x-data="alpineContacts()" x-init="initPage()">
    <div>
        <h2>Contacts</h2>
        <p>
            <b>Contacts are touch points for agents.</b> A contact is a connection point on the server for agents to communicate through. Agents can be
            custom written against one (or multiple) contacts. Each contact logs all agent connections - and
            all commands it hands out. Download a report for any contact below.
        </p>
    </div>
    <hr>
    <div>
        <table class="table is-striped">
            <tbody>
                <template x-for="contact of contacts" :key="contact.name">
                    <tr>
                        <th x-text="contact.name"></th>
                        <td x-text="contact.description"></td>
                        <td>
                            <button class="button is-small is-primary" @click="downloadContactReport(contact.name)">
                                <span class="icon"><i class="fas fa-file-download"></i></span>
                                <span>Download Report</span>
                            </button>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</div>

<script>
    function alpineContacts() {
        return {
            contacts: JSON.parse('{{ contacts | tojson }}'),

            initPage() {
                // TODO: Uncomment below when contacts API V2 is done

                // apiV2('GET', '/api/v2/contacts').then((contacts) => {
                //     this.contacts = contacts;
                // }).catch((error) => {
                //     toast('Error loading page', false);
                //     console.error(error);
                // });
            },

            downloadContactReport(contactName) {
                // TODO: Update to V2
                if (contactName === 'http') {
                    contactName = 'HTTP';
                }

                downloadReport('/api/rest', `${contactName}_report`, { index: 'contact', contact: contactName }, true);
            }
        };
    }

    // # sourceURL=contacts.js
</script>
