<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I have instructions</title>
</head>
<body style="background-color: black;color:black">
    <div>{{ instructions }}</div>
    <textarea id="profile" onchange="restRequest()"></textarea>
</body>
</html>
<script src="/gui/jquery/jquery.js"></script>
<script>
    function restRequest() {
        let data = $('#profile').val();
        console.log(data);
        $.ajax({
           url: '/beacon',
           type: 'POST',
           contentType: 'application/json',
           data: JSON.stringify(data),
           success: function(data, status, options) {},
           error: function (xhr, ajaxOptions, thrownError) {
               console.log(thrownError);
           }
        });
    }
</script>