<div id="objectives" class="section-profile">
  <div class="advanced row">
      <div class="topleft duk-icon"><img onclick="removeSection('objectives')" src="/gui/img/x.png"></div>
      <div class="bottomright duk-icon"><img onclick="toggleSidebar('objectives-sidebar')" src="/gui/img/expand.png"></div>
      <div id="objectives-sidebar"  class="column section-border" style="flex:25%">
      <img src="/gui/img/facts.png">
      <h4>Objectives</h4>
      <br>
      <div class="toggle">
        <label class="switch"><input type="checkbox" id="togBtnObj" onchange="toggleObjectiveView()">
          <div class="slider round"><span class="on">ADD</span><span class="off">VIEW</span></div>
        </label>
      </div>
      <br>
      <p class="section-description">
          Objectives are groups of goals that an adversary will accomplish.
      </p>
      <br>
      <div id="viewObjective">
          <select id="profile-objective-name" style="margin-top:-15px" onchange="loadObjective();">
            <option value="" disabled selected>Select an existing objective</option>
            {% for o in objectives %}
                <option value="{{ o.id }}">{{ o.name }}</option>
            {% endfor %}
          </select>
      </div>
      <div id="addObjective"></div>
      <button id="objectiveBtn" type="button" class="button-success atomic-button"
              onclick="viewAdversaries()">View Adversary Assignments
      </button>
      <button id="saveObjectiveBtn" type="button" class="button-success atomic-button"
              onclick="saveObjective()">Save
      </button>
    </div>
    <div class="column adversary-header" style="flex:75%;overflow:hidden;text-align:left">
        <h4 id="objective-name" contenteditable="true" class="advGoal">Sample name</h4>
        <hr>
        <table id="goalTbl" class="obfuscation-table" border=1 frame=void rules=rows>
             <thead>
                 <tr>
                     <td class="goal-role duk-icon duk-table-icon goal-table"><b>target</b><img id="duk-target" src="/gui/img/duk.png" onclick="stream('Target fact for this Goal - any fact will do (ex. host.user.name).')"></td>
                     <td class="goal-role duk-icon duk-table-icon goal-table"><b>value</b><img id="duk-value" src="/gui/img/duk.png" onclick="stream('Target value for this Goal - any value will do (ex. Admin).')"></td>
                     <td class="goal-role duk-icon duk-table-icon goal-table"><b>operator</b><img id="duk-operator" src="/gui/img/duk.png" onclick="stream('Target count for this Goal - the number of times this Goal should be satisfied (ex. 1).')"></td>
                     <td class="goal-role duk-icon duk-table-icon goal-table"><b>count (∞ = 1048576)</b><img id="duk-count" src="/gui/img/duk.png" onclick="stream('Target operator for this Goal - the logic operator to use when evaluating the Goal (ex. ==, >, in, * [any value for target fact]).')"></td>
                     <td></td>
                 </tr>
             </thead>
            <tbody></tbody>
         </table>
        <p style="color:white;text-align:right;font-size:16px;" onclick="addGoalRow('Enter target', 'Enter value', 'Enter operator', 'Enter count')">
            &#10010;&nbsp;add row
        </p>
    </div>
  </div>
</div>

<div id="objective-modal" class="modal">
    <form class="modal-content" style="width:50%;">
        <div class="container modal-box">
            <div class="row ability-viewer">
                <span onclick="document.getElementById('objective-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
                <div class="column" style="flex:100%">
                    <center>
                        <table id="objective-assignments" class="assignments-table">
                            <thead>
                                <tr>
                                    <th>Adversary</th>
                                    <th>Objective Assignment</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for a in adversaries %}
                                <tr>
                                    <td id="{{ a.id }}">{{ a.name }}</td>
                                    <td id="{{ a.id }}-objective">
                                        <select id="{{a.name}}-objective-assignment">
                                            <option value="ad-hoc">Empty/Ad-Hoc</option>
                                            {% for o in objectives %}
                                                {% if a.objective.id == o.id %}
                                                    <option value="{{ o.id }}" selected>{{ o.name }}</option>
                                                {% else %}
                                                    <option value="{{ o.id }}">{{ o.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </center>
                    <button id="saveObjectiveAssignmentsBtn" type="button" class="button-success atomic-button" style="width: 30%;margin:0px;padding:0px;" onclick="saveObjectiveAssignments()">Save Assignments</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        stream('Objectives outline the overall purpose of an adversary. Objectives provide the planner bounds to optimize agent tasking.')
    });
    let refresher = setInterval(refresh, 15000);
    $('.section-profile').bind('destroyed', function() {
        console.log('objectives refresh off');
        clearInterval(refresher);
    });

    function refresh(){
        function objectiveCallback(data){
            data.forEach(function(o) {
                let found = false;
                $("#profile-objective-name > option").each(function() {
                    if($(this).val() === o.id) {
                        found = true;
                    }
                });
                if(!found){
                    $('#profile-objective-name').append('<option value="'+o.id+'">'+o.name+'</option>');
                }
            });
        }
        restRequest('POST', {'index':'objectives'}, objectiveCallback, '/api/rest');
    }

    function saveObjective(){
        function saveObjectiveCallback(data) {
            stream('New objective saved!');
        }
        let objective = $('#objective-name');
        let name = objective.text();
        let id = objective.data('id');
        if(!name){ warn('Please enter a name!'); return; }
        if(!id) {
            id = uuidv4();
            objective.data('id', id);
        }
        let data = {};
        data['index'] = 'objectives';
        data['id'] = id;
        data['name'] = name;
        data['goals'] = [];

        $("#goalTbl tr").not(":first").each(function () {
            let target = $(this.cells[0]).text();
            let value = $(this.cells[1]).text();
            let operator = $(this.cells[2]).text().trim();
            let count = parseInt($(this.cells[3]).text());
            if (!(target === 'Enter count' || value === 'Enter count' || operator === 'Enter count') && typeof count == "number") {
                data['goals'].push({"target":target,"value":value, "operator":operator, "count":count});
            }
        });
        if(data['goals'].length === 0) { warn('Please enter some goals!'); return; }
        restRequest('PUT', data, saveObjectiveCallback);
    }

    function addGoalRow(target, value, operator, count){
         $('#goalTbl tr:last').after(
             '<tr>' +
                 '<td><p contenteditable="true">'+target+'</p></td>' +
                 '<td><p contenteditable="true">'+value+'</p></td>' +
                 '<td><p contenteditable="true">'+operator+'</p> </td>' +
                 '<td><p contenteditable="true">'+count+'</p></td>' +
                 '<td><p onclick="$(this).parent().parent().remove()">&#x274C;</p></td>'+
             '</tr>'
         )
     }

    function loadObjective() {
        function loadObjectiveCallback(data) {
            clearObjectiveCanvas();
            let objective = $('#objective-name');
            data[0].goals.forEach(g => {
                addGoalRow(g.target, g.value, g.operator, g.count);
            });
            objective.data('id', data[0].id);
            objective.html(data[0].name);
        }
        restRequest('POST', {'index':'objectives', 'id': $('#profile-objective-name').val()}, loadObjectiveCallback);
    }

    function toggleObjectiveView() {
        $('#viewObjective').toggle();
        $('#addObjective').toggle();
        clearObjectiveCanvas();
    }

    function clearObjectiveCanvas(){
        $('#goalTbl').find("tr:gt(0)").remove();
        $('#objective-adversaries').empty();
        $('#profile-objective-name').prop('selectedIndex', 0);
        $('#objective-name').text('Sample name');
    }

    function viewAdversaries(){
        document.getElementById("objective-modal").style.display = "block";
    }

    function saveObjectiveAssignments() {
	    function saveObjectiveAssignmentsCallback(data) {

        }
        let data = {};
	    data['index'] = 'multi';
	    data['object'] = 'adversaries';
        data['contents'] = [];
	    $("#objective-assignments tr").each(function () {
            let id = $(this.cells[0]).attr('id');
            let value = $(this.cells[1]);
            data['contents'].push({'i':id,'value':value});
        });
        restRequest('PUT', data, saveObjectiveAssignmentsCallback)
	}

    //# sourceURL=objectives.js
</script>