<div id="planners" class="section-profile planners" x-data="_alpPlanners()">
  <div class="advanced row">
    <div class="bottomright duk-icon"><img onclick="toggleSidebar('planners-sidebar')" src="/gui/img/expand.png"></div>
    <div class="topleft duk-icon"><img onclick="removeSection('planners')" src="/gui/img/x.png"></div>
    <div id="planners-sidebar" class="column section-border" style="flex:25%">
      <img src="/gui/img/planners.png">
      <h4>Planners</h4>
      <p class="section-description">
          A planner is a module which contains logic for how a running operation should make decisions about
          which abilities to use and in what order. Specifically, a planner's logic contains the decision making to
          execute a single phase of an operation.
      </p>
      <br>
      <div id="viewPlanner">
          <select id="planner-select" style="margin-top:-15px" x-on:change="loadPlanner()" x-model="selectedPlanner">
            <option value="" disabled selected>Select an existing planner</option>
            {% for p in planners %}
              <option :value="'{{ p.name }}'">{{ p.name }} planner</option>
            {% endfor %}
          </select>
      </div>
    </div>

    <div id="planner-info" class="column planner-header" style="flex:75%;text-align: left">
      <h3 x-text="title"></h3>
      <p x-text="description"></p>
    </div>
  </div>
</div>

<script>
    /* eslint-disable */
    function _alpPlanners() {
      return {
        selectedPlanner: '',
        title: '',
        description: '',

        loadPlannerCallback(self, data) {
          const parsedData = JSON.parse(data)[0];
          if (parsedData) {
            self.title = parsedData.name;
            self.description = parsedData.description;
          }
        },

        loadPlanner() {
          restRequest('POST', {'index':'planners', 'name': this.selectedPlanner}, (data) => { this.loadPlannerCallback(this, data) });
        }
      }
    }
    //# sourceURL=planners.js
</script>
