<html>
    <head>
        <title>Red | Dashboard</title>
        <link rel="shortcut icon" type="image/png" href="/gui/img/favicon.png"/>
        <link rel="stylesheet" href="/gui/css/shared.css">
        <link rel="stylesheet" href="/gui/css/core.css">
        <link rel="stylesheet" href="/gui/css/modal.css">
        <link rel="stylesheet" href="/gui/css/basic.css">
        <link rel="stylesheet" href="/gui/css/timeline.css">
        <link rel="stylesheet" href="/gui/css/multi-select.css" media="screen">
        <link rel="stylesheet" href="/gui/css/custom-bulma.css">
        <script src="/gui/js/feather.min.js"></script>
    </head>
    <body>
        <main class="main" x-data="sharedData()">
            <div class="navigation" x-bind:class="isNavMinimized ? 'expanded' : 'collapsed'">
                <div class="nav-logo"></div>
                <aside class="menu">
                    <p class="menu-label">Campaigns</p>
                    <ul class="menu-list">
                      <li><a x-on:click="addTab('agents', '/campaign/agents')">agents</a></li>
                      <li x-on:click="addTab('adversaries', '/campaign/profiles')"><a>adversaries</a></li>
                      <li x-on:click="addTab('operations', '/campaign/operations')"><a>operations</a></li>
                    </ul>
                    <p class="menu-label">Plugins</p>
                    <ul class="menu-list">
                        {% for plugin in plugins | sort(attribute='name') %}
                            <li><a x-on:click="addTab('{{ plugin.name }}', '{{ plugin.address }}')">{{ plugin.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <p class="menu-label">Configuration</p>
                    <ul class="menu-list">
                        <li><a x-on:click="addTab('example', 0)">example</a></li>
                        <li><a x-on:click="addTab('sources', '/advanced/sources')">fact sources</a></li>
                        <li><a x-on:click="addTab('objectives', '/advanced/objectives')">objectives</a></li>
                        <li><a x-on:click="addTab('planners', '/advanced/planners')">planners</a></li>
                        <li><a x-on:click="addTab('contacts', '/advanced/contacts')">contacts</a></li>
                        <li><a x-on:click="addTab('obfuscators', '/advanced/obfuscators')">obfuscators</a></li>
                        <li><a x-on:click="addTab('configuration', '/advanced/configurations')">configuration</a></li>
                        <li><a x-on:click="addTab('exfilled', '/advanced/exfills')">exfilled files</a></li>
                    </ul>
                    <p class="menu-label">Administrative</p>
                    <ul class="menu-list">
                        <li><a onclick="display_errors({{ errors }})">Startup errors</a></li>
                        <li><a href="/logout">Log out</a></li>
                    </ul>
                  </aside>
                  <div id="nav-footer" class="has-text-centered">
<!--                      TODO: need to fix button icon-->
                      <a x-on:click="isNavMinimized = !isNavMinimized"><span class="icon"><i data-feather="chevrons-left"></i></span></a>
                      <a x-on:click="isNavMinimized = !isNavMinimized">
                        <span class="icon">
                            <template x-if="isNavMinimized">
                                <i data-feather="chevrons-right"></i>
                            </template>
                            <template x-if="!isNavMinimized">
                                <i data-feather="chevrons-left"></i>
                            </template>
                        </span>
                      </a>
                  </div>
            </div>

            <div class="main-content">
                <div class="tabs is-boxed">
                    <!-- TODO: Create a new tab for each window user opens, or switch to the tab if already exists -->
                    <!-- TODO: Make these tabs toggle-able (i.e., I can click into "agents" and have the contents appear in the space beneath) -->
                    <!-- TODO: Make tabs re-arrangeable (may require external library) -->
                    <ul>
                        <template x-for="(tab, index) in openTabs" :key="index">
                            <li x-bind:class="activeTabIndex === index ? 'is-active' : ''" draggable="true">
                                <a x-on:click="activeTabIndex = index">
                                    <span x-text="tab.name"></span>
                                    <span x-on:click="deleteTab(index)" class="icon is-small is-close"><i data-feather="x"></i></span>
                                    <!-- TODO: Have "X" icon close the tab -->
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>

                <div id="active-tab-display" class="container">
                    <template x-for="(tab, index) in openTabs" :key="index">
                        <div x-bind:id="tab.contentID" x-init="getTabContent(tab)" x-show="openTabs[activeTabIndex] === tab"></div>
                    </template>
                </div>
            </div>
        </main>

        <!-- TODO: Remove JQuery as dependency (when possible) -->
        <script src="/gui/jquery/jquery.js"></script>
        <script src="/gui/jquery/jquery.multi-select.js"></script>
        <script src="/gui/js/shared.js"></script>
        <script defer src="/gui/js/alpine.min.js"></script>
        <script>
            // Add logos where specified in template
            feather.replace()
        </script>
    </body>
</html>
