<html>
<head>
      <title>Red | Dashboard</title>
      <link rel="shortcut icon" type="image/png" href="/gui/img/favicon.png"/>
      <link rel="stylesheet" href="/gui/css/red.css">
      <link rel="stylesheet" href="/gui/css/shared.css">
      <link rel="stylesheet" href="/gui/css/navbar.css">
      <link rel="stylesheet" href="/gui/css/modal.css">
      <link rel="stylesheet" href="/gui/css/basic.css">
      <link rel="stylesheet" href="/gui/css/timeline.css">
</head>

    <div class="navbar-buffer">
        <div class="navbar">
              <a href="/">Home</a>
              <div class="subnav">
                <button class="subnavbtn">Campaigns <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                  <a onclick="viewSection('agents', '/campaign/agents')">agents</a>
                  <a onclick="viewSection('adversaries', '/campaign/profiles')">adversaries</a>
                  <a onclick="viewSection('operations', '/campaign/operations')">operations</a>
                </div>
              </div>
              <a href="/logout" style="float:right">Logout</a>
              <a href="/docs/index.html" style="float:right" target="_blank">Docs</a>
              <div class="subnav-right">
                <button class="subnavbtn">Advanced <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content subnav-content-right">
                    <a onclick="viewSection('sources', '/advanced/sources')">sources</a>
                    <a onclick="viewSection('planners', '/advanced/planners')">planners</a>
                    <a onclick="viewSection('contacts', '/advanced/contacts')">contacts</a>
                    <a onclick="viewSection('obfuscators', '/advanced/obfuscators')">obfuscators</a>
                    <a onclick="viewSection('configuration', '/advanced/configurations')">configuration</a>
                </div>
              </div>
              <div class="subnav-right">
                <button class="subnavbtn">Plugins <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content subnav-content-right">
                    {% for plugin in plugins %}
                      {% if plugin.address %}
                          <a onclick="viewSection('{{ plugin.name }}', '{{ plugin.address }}')">{{ plugin.name }}</a>
                      {% else %}
                          <a onclick="warn('No GUI component to this plugin')">{{ plugin.name }}</a>
                      {% endif %}
                    {% endfor %}
                </div>
              </div>
        </div>
    </div>
    <div style="margin-bottom:75px"></div>

    <div id="notice" class="notice" style="display:none">Chrome is the only supported browser. Please change to that or some website components may not work.</div>

    <div id="alert-modal" class="modal">
        <form class="modal-content">
            <div class="container modal-box">
                <div class="row duk-modal">
                    <span onclick="document.getElementById('alert-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <div class="column" style="flex:92%">
                        <p id="alert-text" style="color: white"></p>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <center>
        <div id="intro" class="home-box watermark">
            <h1 id="big-head" class="big-head">CALDERA</h1>
            <hr style="width:70%">
            <h3 id="sub-head" class="small-head">Cyber Adversary Language and Decision Engine for Red Team Automation</h3>
        </div>

        <div id="section-container"></div>

        <div id="duk-modal" class="modal">
            <form class="modal-content">
                <div class="container modal-box">
                    <div class="row duk-modal">
                        <span onclick="document.getElementById('duk-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <div class="column" style="flex:92%">
                            <p id="duk-text" style="color: white"></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </center>

    <div style="margin-bottom: 100px"></div>

    <div class="footer">
        <p id="streamer"></p>
    </div>

    <script src="/gui/jquery/jquery.js"></script>
    <script src="/gui/js/shared.js"></script>
</html>
