<div x-data="alpineSources()" x-init="initPage()">
    <div>
        <h2>Fact Sources</h2>
        <p>
            Facts are identifiable pieces of data, collected by agents or loaded when the server starts.
            A source is a collection of facts. Rules are boundaries to ensure specific traits cannot be used.
        </p>
    </div>
    <hr>
    <div>
        <div class="is-flex is-flex-direction-row is-align-items-center">
            <div class="is-flex is-flex-direction-row is-justify-content-flex-start sources-menu-container">
                <template x-if="sources.length < 1">
                    <em class="is-flex is-justify-content-center">No sources available; click on the 'Create Source'
                        button to get started.</em>
                </template>
                <template x-for="source of sources" :key="source.name">
                    <button class="no-style source-menu-links" x-bind:class="selectedSource === source ? 'active' : ''"
                            x-on:click="selectedSource = source">
<!--                        <i class="fas fa-faucet"></i>-->
                        <i class="fas fa-hand-holding-water"></i>
                        <span x-text="source.name"></span>
                    </button>
                </template>
            </div>
        </div>
        <template x-if="selectedSource && selectedSource.facts.length > 0">
            <table class="table is-striped">
                <thead>
                <tr>
                    <th>Fact Type</th>
                    <th>Value</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <template x-for="fact in selectedSource.facts">
                    <tr>
                        <td>
                            <label x-show="false" for="edit-fact-name">Fact Name</label>
                            <textarea id="edit-fact-name"
                                      class="code"
                                      contenteditable
                                      x-model="fact.name"
                                      spellcheck="false"></textarea>
                        </td>
                        <td>
                            <label x-show="false" for="edit-fact-value">Fact Value</label>
                            <textarea id="edit-fact-value"
                                      class="code"
                                      contenteditable
                                      x-model="fact.value"
                                      spellcheck="false"></textarea>
                        </td>
                        <td>
                            <button type="button"
                                    class="button is-small"
                                    x-on:click="updateFact()">
                                Save
                            </button>
                        </td>
                    </tr>
                </template>

                <template x-if="showAddFactRow">
                    <tr x-data="{newFact: {name: '', value: ''}}">
                        <td>
                            <label x-show="false" for="new-fact-name">Fact Name</label>
                            <textarea id="new-fact-name"
                                      class="code"
                                      contenteditable
                                      x-model="newFact.name"
                                      spellcheck="false"></textarea>
                        </td>
                        <td>
                            <label x-show="false" for="new-fact-value">Fact Value</label>
                            <textarea id="new-fact-value"
                                      class="code"
                                      contenteditable
                                      x-model="newFact.value"
                                      spellcheck="false"></textarea>
                        </td>
                        <td>
                            <button type="button"
                                    class="button is-small is-primary"
                                    x-on:click="addFact(newFact)">
                                Add
                            </button>
                        </td>
                    </tr>
                </template>

                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button"
                                class="button is-small is-primary"
                                x-on:click="showAddFactRow = true">
                            <span class="icon"><i class="fas fa-plus"></i></span>
                            <span>Add Fact</span>
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>
        </template>
        <template x-if="selectedSource && selectedSource.rules">
            <table class="table is-striped">
                <thead>
                <tr>
                    <th>Rule</th>
                    <th>Trait</th>
                    <th>Match</th>
                </tr>
                </thead>
                <tbody>
                <template x-for="rule in selectedSource.rules.reverse()">
                    <tr>
                        <td x-text="rule.match"></td>
                        <td x-text="rule.trait"></td>
                        <td x-bind:class="rule.action === 'ALLOW' ? 'has-text-success' : 'has-text-danger'"
                            x-text="rule.action"></td>
                    </tr>
                </template>
                </tbody>
            </table>
        </template>
    </div>
</div>

<style>
    :scope {
        --primary-color: #8B0000;
        --dark-gray: gray;
        --light-gray: #e6e6e6;
        --decisions-color: #4fdcfc;
    }

    button.no-style {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    .sources-menu-container {
        overflow-x: scroll;
        padding-bottom: 20px;
    }

    .source-menu-links {
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 5em;
        flex-flow: column wrap;
        padding-bottom: 5px;
    }

    .source-menu-links:hover {
        background-color: var(--primary-color);
        border-radius: 5px;
    }

    .source-menu-links.active i, .source-menu-links.active span {
        /*font-size: 2.5em;*/
        /*color: rgb(248, 193, 69);*/
        color: var(--decisions-color);
        font-weight: 600;
    }

    .source-menu-links i {
        font-size: 2em;
        padding-bottom: 5px;
    }

    table .code {
        color: #ff8181;
        background-color: #262626;
    }
</style>

<script>
    function alpineSources() {
        return {
            selectedSource: null,
            sources: [],
            showAddFactRow: false,

            initPage() {
                apiV2('GET', '/api/v2/sources').then((sources) => {
                    this.sources = sources;
                }).catch((error) => {
                    toast('Error loading page', false);
                    console.error(error);
                });
            },

            addFact(newFact) {
                const updatedSource = {...this.selectedSource};
                updatedSource.facts.push({...newFact, trait: newFact.name});
                apiV2('PUT', '/api/v2/sources/' + this.selectedSource.id, updatedSource).then((res) => {
                    toast('Updated source', res);
                    this.showAddFactRow = false;
                }).catch((error) => {
                    toast('Error loading page', false);
                    console.error(error);
                });
            },

            updateFact() {
                console.log('Update fact', this.selectedSource);
                apiV2('PATCH', '/api/v2/sources/' + this.selectedSource.id, this.selectedSource).then((res) => {
                    toast('Updated source', res);
                }).catch((error) => {
                    toast('Error loading page', false);
                    console.error(error);
                });
            }
        };
    }

    // # sourceURL=sources.js
</script>
