<div x-data="alpineSources()" x-init="getSources()" id="sourcePage">
    <div>
        <h2>Fact Sources</h2>
        <p>
            Facts are identifiable pieces of data, collected by agents or loaded when the server starts.
            A source is a collection of facts. Rules are boundaries to ensure specific traits cannot be used.
        </p>
    </div>
    <hr>
    <div>

        <!-- FACT SELECTION -->

        <form>
            <div id="select-source" class="field has-addons">
                <label class="label">Select a source &nbsp;&nbsp;&nbsp;</label>
                <div class="control is-expanded">
                    <div class="select is-small is-fullwidth">
                        <select x-on:change="handleSelectSource()" x-model="selectedSourceId">
                            <option value="" default disabled selected>Select a source...</option>
                            <template x-for="source of sources" :key="source.id">
                                <option x-bind:value="source.id" x-text="source.name"></option>
                            </template>
                        </select>
                    </div>
                </div>
                <div class="control">
                    <button type="button" class="button is-primary is-small" @click="createSource()">+ Create Source</button>
                </div>
            </div>
        </form>

        <!-- CONTENT -->
        
        <template x-if="!selectedSourceId">
            <p class="is-flex is-justify-content-center">Select a fact source to get started</p>
        </template>

        <template x-if="selectedSourceId">
            <div>
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item" x-show="!isEditingSourceName">
                            <h2 x-text="selectedSource.name" class="mb-2"></h2>
                        </div>
                        <div class="level-item">
                            <a class="mb-2 has-text-white" @click="isEditingSourceName = true" x-show="!isEditingSourceName">
                                <span class="icon"><em class="fas fa-pencil-alt"></em></span>
                            </a>
                        </div>
                        <div class="level-item" x-show="isEditingSourceName">
                            <label class="label">Source Name</label>
                            <input id="sourceName" class="input is-small" placeholder="Enter a source name" x-model="selectedSource.name">
                        </div>
                        <div class="level-item" x-show="isEditingSourceName">
                            <button class="button is-small is-primary" @click="saveSourceName()">
                                <span class="icon"><em class="fas fa-save"></em></span>
                                <span>Save</span>
                            </button>
                        </div>
                        <div class="level-item" x-show="isEditingSourceName">
                            <button class="button is-small" @click="isEditingSourceName = false">Cancel</button>
                        </div>
                    </div>
                    <div class="level-right">  
                        <div class="level-item">
                            <button class="button is-small is-primary" @click="duplicateSource(selectedSource)">
                                <span class="icon"><em class="fas fa-copy"></em></span>
                                <span>Duplicate</span>
                            </button>
                        </div>
                        <div class="level-item">
                            <button class="button is-small is-primary" @click="isConfirmSourceDeleteModalOpen = true">
                                <span class="icon"><em class="fas fa-trash"></em></span>
                                <span>Delete Source</span>
                            </button>
                        </div>
                    </div>
                </nav>

                <!-- FACTS CONTENT -->
                <div class="my-5" x-data="{collapseFacts: false}">
                    <div class="collapsible-header">
                        <button class="button px-0 no-style is-size-4" x-on:click="collapseFacts = !collapseFacts" x-bind:class="collapseFacts ? 'collapsed' : 'expanded'">
                            Facts
                            <span x-text="`&nbsp;(${filteredFacts.length})`"></span>
                        </button>
                    </div>
                    <span class="navbar-divider"></span>
                    <div x-show="!collapseFacts">
                        <div class="is-flex is-flex-direction-row" x-data="{factsFilterKeyword: ''}">
                            <button type="button" class="button is-primary is-small mr-2" x-on:click="showAddFactRow = true; selectedFactIndex = -1">
                                <span class="icon"><i class="fas fa-plus"></i></span>
                                <span>Add Fact</span>
                            </button>
                            <div class="field mr-2" x-show="selectedSource.facts && selectedSource.facts.length >= 1 || showAddFactRow">
                                <p class="control has-icons-left">
                                    <input class="input is-small"
                                           id="fact-search"
                                           placeholder="Find a trait or value..."
                                           x-model="factsFilterKeyword"
                                           x-on:keyup="filterFacts($el.value)">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <!-- FACTS TABLE -->
                        <table class="table is-striped" x-show="filteredFacts.length >= 1 || showAddFactRow">
                            <colgroup>
                                <col width="5%">
                                <col width="10%">
                                <col width="30%">
                                <col width="30%">
                                <col width="5%">
                                <col width="20%">
                            </colgroup>
                            <thead>
                                <tr class="table-header">
                                    <th>Order</th>
                                    <th>Origin</th>
                                    <th>Fact Trait</th>
                                    <th>Value</th>
                                    <th>Score</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody @click.outside="selectedFactIndex = -1; factIndexToDelete = -1;">
                                <tr x-data="{ newFact: EMPTY_FACT_OBJECT }" x-show="showAddFactRow">
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input id="new-fact-trait" class="input is-small" x-model="newFact.trait" contenteditable>
                                    </td>
                                    <td>
                                        <input id="new-fact-value" class="input is-small" x-model="newFact.value" contenteditable>
                                    </td>
                                    <td>
                                        <input class="is-small input fact-score" id="new-fact-score" type="number" x-model="newFact.score" min="0"/>
                                    </td>
                                    <td>
                                        <button type="button"
                                                class="button is-small is-primary"
                                                x-on:click="addFact(newFact); newFact = EMPTY_FACT_OBJECT">
                                            + Add Fact
                                        </button>
                                        <button type="button"
                                                class="button is-small"
                                                x-on:click="showAddFactRow = false; newFact = EMPTY_FACT_OBJECT">
                                            Cancel
                                        </button>
                                    </td>
                                </tr>
                                <template x-for="(fact, index) in filteredFacts" :key="fact.unique">
                                    <tr x-on:click="selectedFactIndex = index; showAddFactRow = false;" x-bind:class="selectedFactIndex === index ? 'selected' : ''">
                                        <td class="index-column" x-text="index"></td>

                                        <td x-bind:class="(fact.origin_type) ? 'is-size-6 origin-' + fact.origin_type : ''" x-text="fact.origin_type"></td>
                                        
                                        <td x-show="selectedFactIndex !== index" x-text="fact.trait"></td>
                                        <td x-show="selectedFactIndex === index">
                                            <input id="edit-fact-trait" class="input is-small" x-model="fact.trait" contenteditable>
                                        </td>
                                        
                                        <td x-show="selectedFactIndex !== index" x-text="fact.value"></td>
                                        <td x-show="selectedFactIndex === index">
                                            <input id="edit-fact-value" class="input is-small" x-model="fact.value" contenteditable>
                                        </td>
                                        
                                        <td x-text="fact.score"></td>

                                        <td class="has-text-right" x-show="selectedFactIndex !== index && factIndexToDelete !== index">
                                            <button class="button is-small" @click.stop="factIndexToDelete = index">
                                                <span class="icon">
                                                    <em class="fas fa-trash"></em>
                                                </span>
                                            </button>
                                        </td>

                                        <td class="has-text-right" x-show="factIndexToDelete === -1 && selectedFactIndex === index">
                                            <button type="button"
                                                    class="button is-small is-primary"
                                                    x-on:click.stop="updateFactSource()">
                                                <span class="icon">
                                                    <em class="fas fa-save"></em>
                                                </span>
                                                <span>Save</span>
                                            </button>
                                            <button type="button"
                                                    class="button is-small"
                                                    x-on:click.stop="selectedFactIndex = -1; getSources();">
                                                Cancel
                                            </button>
                                        </td>
                                        
                                        <td class="has-text-right" x-show="factIndexToDelete === index">
                                            <div class="is-flex is-justify-content-end">
                                                <p class="m-1 mr-3">Delete fact?</p>
                                                <button type="button" class="button is-small is-danger mr-2" x-on:click.stop="deleteFact(factIndexToDelete)">
                                                    Delete
                                                </button>
                                                <button type="button" class="button is-small" x-on:click.stop="factIndexToDelete = -1; selectedFactIndex = -1">
                                                    Cancel
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- RULES CONTENT -->
                <div class="my-5" x-data="{collapseRules: false}">
                    <div class="collapsible-header">
                        <button class="button px-0 no-style is-size-4" x-on:click="collapseRules = !collapseRules" x-bind:class="collapseRules ? 'collapsed' : 'expanded'">
                            Rules
                            <span x-text="`&nbsp;(${filteredRules.length})`"></span>
                        </button>
                    </div>
                    <span class="navbar-divider"></span>
                    <div x-show="!collapseRules">
                        <div class="is-flex is-flex-direction-row" x-data="{rulesFilterKeyword: ''}">
                            <button type="button"
                                    class="button is-primary is-small mr-2"
                                    x-on:click="showAddRuleRow = true; selectedRuleIndex = -1">
                                <span class="icon"><i class="fas fa-plus"></i></span>
                                <span>Add Rule</span>
                            </button>
                            <div class="field mr-2" x-show="selectedSource.rules && selectedSource.rules.length >= 1 || showAddRuleRow">
                                <p class="control has-icons-left">
                                    <input class="input is-small"
                                        id="rule-search"
                                        placeholder="Find a matching rule or trait..."
                                        x-model="rulesFilterKeyword"
                                        x-on:keyup="filterRules($el.value)">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <!-- RULES TABLE -->
                        <table class="table is-striped" x-show="filteredRules.length >= 1 || showAddRuleRow">
                            <colgroup>
                                <col width="5%">
                                <col width="30%">
                                <col width="30%">
                                <col width="15%">
                                <col width="20%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="index-column">Order</th>
                                    <th>Match</th>
                                    <th>Fact Trait</th>
                                    <th class="text-align-center">Action</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody @click.outside="selectedRuleIndex = -1; ruleIndexToDelete = -1;">
                                <template x-if="showAddRuleRow">
                                    <tr x-data="{newRule: EMPTY_RULE_OBJECT}">
                                        <td></td>
                                        <td>
                                            <input id="new-rule-match" class="input is-small" x-model="newRule.match" contenteditable>
                                        </td>
                                        <td>
                                            <input id="new-rule-trait" class="input is-small" x-model="newRule.trait" contenteditable>
                                        </td>
                                        <td>
                                            <div class="toggleContainer is-flex is-justify-content-center"
                                                id="new-rule-action">
                                                <label class="has-text-danger" for="toggleAction">DENY</label>
                                                <div class="toggleSwitch mx-2">
                                                    <input type="checkbox"
                                                        id="toggleAction"
                                                        x-model="newRule.action"
                                                        x-bind:checked="newRule.action === 'ALLOW' ? 'checked' : null"/>
                                                    <span class="toggleSlider toggleSliderRound"
                                                        x-on:click="newRule.action = (newRule.action === 'ALLOW' ? 'DENY' : 'ALLOW')"
                                                        x-bind:class="newRule.action === 'ALLOW' ? 'toggle-on' : 'toggle-off'">
                                                        <span x-bind:class="newRule.action === 'ALLOW' ? 'toggle-slider-on' : 'toggle-slider-off'"></span>
                                                    </span>
                                                </div>
                                                <label class="has-text-success" for="toggleAction">ALLOW</label>
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button"
                                                    class="button is-small is-primary"
                                                    x-on:click="addRule(newRule); newRule = EMPTY_RULE_OBJECT">
                                                + Add Rule
                                            </button>
                                            <button type="button"
                                                    class="button is-small"
                                                    x-on:click="showAddRuleRow = false; newRule = EMPTY_FACT_OBJECT">
                                                Cancel
                                            </button>
                                        </td>
                                    </tr>
                                </template>
                                <template x-for="(rule, index) in filteredRules">
                                    <tr x-on:click="selectedRuleIndex = index; showAddRuleRow = false;" x-bind:class="selectedRuleIndex === rule ? 'selected' : ''">
                                        <td class="index-column" x-text="index"></td>

                                        <td x-show="selectedRuleIndex === index">
                                            <input id="edit-rule-match" class="input is-small" x-model="rule.match" contenteditable>
                                        </td>
                                        <td x-show="selectedRuleIndex !== index" x-text="rule.match"></td>

                                        <td x-show="selectedRuleIndex === index">
                                            <input id="edit-rule-trait" class="input is-small" x-model="rule.trait" contenteditable>
                                        </td>
                                        <td x-show="selectedRuleIndex !== index" x-text="rule.trait"></td>

                                        <td x-show="selectedRuleIndex === index">
                                            <div class="toggleContainer is-flex is-justify-content-center">
                                                <label class="has-text-danger" for="toggleRuleAction">DENY</label>
                                                <div class="toggleSwitch mx-2">
                                                    <input type="checkbox"
                                                        id="toggleRuleAction"
                                                        x-model="rule.action"
                                                        x-bind:checked="rule.action === 'ALLOW' ? 'checked' : null"/>
                                                    <span class="toggleSlider toggleSliderRound"
                                                        x-on:click="rule.action = (rule.action === 'ALLOW' ? 'DENY' : 'ALLOW')"
                                                        x-bind:class="rule.action === 'ALLOW' ? 'toggle-on' : 'toggle-off'">
                                                        <span x-bind:class="rule.action === 'ALLOW' ? 'toggle-slider-on' : 'toggle-slider-off'"></span>
                                                    </span>
                                                </div>
                                                <label class="has-text-success" for="toggleAction">ALLOW</label>
                                            </div>
                                        </td>
                                        <td x-show="selectedRuleIndex !== index" class="text-align-center"
                                            x-bind:class="rule.action === 'ALLOW' ? 'has-text-success' : 'has-text-danger'"
                                            x-text="rule.action">
                                        </td>

                                        <td class="has-text-right" x-show="selectedRuleIndex !== index && ruleIndexToDelete !== index">
                                            <button class="button is-small" @click.stop="ruleIndexToDelete = index">
                                                <span class="icon">
                                                    <em class="fas fa-trash"></em>
                                                </span>
                                            </button>
                                        </td>

                                        <td class="has-text-right" x-show="ruleIndexToDelete === -1 && selectedRuleIndex === index">
                                            <button type="button"
                                                    class="button is-small is-primary"
                                                    x-on:click.stop="updateFactSource()">
                                                <span class="icon">
                                                    <em class="fas fa-save"></em>
                                                </span>
                                                <span>Save</span>
                                            </button>
                                            <button type="button"
                                                    class="button is-small"
                                                    x-on:click.stop="selectedRuleIndex = -1; getSources();">
                                                Cancel
                                            </button>
                                        </td>
                                        
                                        <td class="has-text-right" x-show="ruleIndexToDelete === index">
                                            <div class="is-flex is-justify-content-end">
                                                <p class="m-1 mr-3">Delete rule?</p>
                                                <button type="button" class="button is-small is-danger mr-2" x-on:click.stop="deleteRule(ruleIndexToDelete)">
                                                    Delete
                                                </button>
                                                <button type="button" class="button is-small" x-on:click.stop="ruleIndexToDelete = -1; selectedRuleIndex = -1">
                                                    Cancel
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- RELATIONSHIPS CONTENT -->
                <div class="my-5" x-data="{collapseRelationships: false}">
                    <div class="collapsible-header">
                        <button class="button px-0 no-style is-size-4"
                                x-on:click="collapseRelationships = !collapseRelationships"
                                x-bind:class="collapseRelationships ? 'collapsed' : 'expanded'">
                            Relationships
                            <span x-text="`&nbsp;(${selectedSource.relationships.length})`"></span>
                        </button>
                    </div>
                    <span class="navbar-divider"></span>
                    <div x-show="!collapseRelationships" x-data="{selectedRelationshipIndex: -1}">
                        <div class="is-flex is-flex-direction-row">
                            <div class="pl-0 is-flex is-align-content-flex-start">
                                <button type="button"
                                        class="button is-primary is-small"
                                        x-on:click="showAddRelationshipRow = true; selectedRelationshipIndex = -1">
                                    <span class="icon"><i class="fas fa-plus"></i></span>
                                    <span>Add Relationship</span>
                                </button>
                            </div>
                        </div>

                        <!-- RELATIONSHIPS TABLE -->
                        <table class="table is-striped" x-show="selectedSource.relationships.length > 0 || showAddRelationshipRow">
                            <colgroup>
                                <col width="5%">
                                <col width="25%">
                                <col width="20%">
                                <col width="25%">
                                <col width="25%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="index-column"></th>
                                    <th>Source</th>
                                    <th>Edge</th>
                                    <th>Target</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody @click.outside="selectedRelationshipIndex = -1; relationshipIndexToDelete = -1;">
                                <tr x-show="showAddRelationshipRow">
                                    <td></td>
                                    <td>
                                        <input id="new-relationship-source" class="input is-small" x-model="newRelationship.sourceTrait" contenteditable>
                                    </td>
                                    <td>
                                        <input id="new-relationship-edge" class="input is-small" x-model="newRelationship.edge" contenteditable>
                                    </td>
                                    <td>
                                        <input id="new-relationship-target" class="input is-small" x-model="newRelationship.targetTrait" contenteditable>
                                    </td>
                                    <td>
                                        <button type="button"
                                                class="button is-small is-primary"
                                                x-on:click.stop="addRelationship(newRelationship)">
                                            + Add Relationship
                                        </button>
                                        <button type="button"
                                                class="button is-small"
                                                x-on:click.stop="showAddRelationshipRow = false">
                                            Cancel
                                        </button>
                                    </td>
                                </tr>

                                <template x-for="(rel, index) in selectedSource.relationships">
                                    <tr x-on:click="selectedRelationshipIndex = index; showAddRelationshipRow = false;" x-bind:class="selectedRelationshipIndex === index ? 'selected' : ''">
                                        <td class="index-column" x-text="index"></td>

                                        <td x-show="selectedRelationshipIndex !== index" x-text="rel.source?.trait"></td>
                                        <td x-show="selectedRelationshipIndex === index">
                                            <input id="edit-rel-trait" class="input is-small" x-model="rel.source.trait" contenteditable>
                                        </td>

                                        <td x-show="selectedRelationshipIndex !== index" x-text="rel.edge"></td>
                                        <td x-show="selectedRelationshipIndex === index">
                                            <input id="edit-rel-trait" class="input is-small" x-model="rel.edge" contenteditable>
                                        </td>

                                        <td x-show="selectedRelationshipIndex !== index" x-text="rel.target?.trait"></td>
                                        <td x-show="selectedRelationshipIndex === index">
                                            <input id="edit-rel-trait" class="input is-small" x-model="rel.target.trait" contenteditable>
                                        </td>
                                        
                                        <td class="has-text-right" x-show="selectedRelationshipIndex !== index && relationshipIndexToDelete !== index">
                                            <button class="button is-small" @click.stop="relationshipIndexToDelete = index">
                                                <span class="icon">
                                                    <em class="fas fa-trash"></em>
                                                </span>
                                            </button>
                                        </td>

                                        <td class="has-text-right" x-show="relationshipIndexToDelete === -1 && selectedRelationshipIndex === index">
                                            <button type="button"
                                                    class="button is-small is-primary"
                                                    x-on:click.stop="updateFactSource()">
                                                <span class="icon">
                                                    <em class="fas fa-save"></em>
                                                </span>
                                                <span>Save</span>
                                            </button>
                                            <button type="button"
                                                    class="button is-small"
                                                    x-on:click.stop="selectedRelationshipIndex = -1; getSources();">
                                                Cancel
                                            </button>
                                        </td>
                                        
                                        <td class="has-text-right" x-show="relationshipIndexToDelete === index">
                                            <div class="is-flex is-justify-content-end">
                                                <p class="m-1 mr-3">Delete relationship?</p>
                                                <button type="button" class="button is-small is-danger mr-2" x-on:click.stop="deleteRelationship(relationshipIndexToDelete)">
                                                    Delete
                                                </button>
                                                <button type="button" class="button is-small" x-on:click.stop="relationshipIndexToDelete = -1; selectedRelationshipIndex = -1">
                                                    Cancel
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </template>
    </div>

    <div class="modal" x-bind:class="{ 'is-active': isConfirmSourceDeleteModalOpen }">
        <div class="modal-background" @click="isConfirmSourceDeleteModalOpen = false"></div>
        <div class="modal-card" style="z-index: 20">
            <header class="modal-card-head">
                <p class="modal-card-title">Delete Fact Source?</p>
            </header>
            <section class="modal-card-body">
                <p>
                    Are you sure you want to delete this fact source? This cannot be undone.
                </p>
            </section>
            <footer class="modal-card-foot">
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <button class="button is-small" @click="isConfirmSourceDeleteModalOpen = false">Cancel</button>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <button class="button is-danger is-small" @click="deleteSource(); isConfirmSourceDeleteModalOpen = false;">
                                <span class="icon"><em class="fas fa-trash"></em></span>
                                <span>Delete Source</span>
                            </button>
                        <div>
                    </div>
                </nav>
            </footer>
        </div>
    </div>

</div>

<script>
    function alpineSources() {
        return {
            // CONSTANTS
            EMPTY_FACT_OBJECT: { trait: '', value: '', score: 1 },
            EMPTY_RULE_OBJECT: { action: 'ALLOW', match: '', trait: '' },

            sources: [],
            filteredSources: [],
            filteredFacts: [],
            filteredRules: [],

            selectedSource: { name: '', relationships: [] },
            selectedSourceId: '',
            selectedRelationshipIndex: null,
            selectedFactIndex: null,
            selectedRuleIndex: null,

            isEditingSourceName: false,

            isConfirmSourceDeleteModalOpen: false,
            factIndexToDelete: -1,
            ruleIndexToDelete: -1,
            relationshipIndexToDelete: -1,

            showAddFactRow: false,
            showAddRuleRow: false,
            showAddRelationshipRow: false,

            newRelationship: {
                sourceTrait: '',
                edge: '',
                targetTrait: ''
            },

            getSources() {
                apiV2('GET', '/api/v2/sources').then((sources) => {
                    this.sources = sources.sort((a, b) => a.name.toLowerCase() > b.name.toLowerCase());
                    this.handleSelectSource();
                }).catch((error) => {
                    toast('Error loading page', false);
                    console.error(error);
                });
            },

            handleSelectSource() {
                if (!this.selectedSourceId) return;
                this.selectedSource = this.sources.find((source) => source.id === this.selectedSourceId);
                this.filteredFacts = this.selectedSource.facts;
                this.filteredRules = this.selectedSource.rules;
            },

            filterFacts(input = '') {
                input = input.toLowerCase();
                this.filteredFacts = this.selectedSource.facts.filter((f) => (f.trait.toLowerCase().includes(input) || f.value.toLowerCase().includes(input)));
            },

            filterRules(input = '') {
                input = input.toLowerCase();
                this.filteredRules = this.selectedSource.rules.filter((r) => (r.match.toLowerCase().includes(input) || r.trait.toLowerCase().includes(input)));
            },

            createSource(newSourceName) {
                const newSource = {
                    name: '',
                    facts: [],
                    rules: [],
                    relationships: []
                };
                apiV2('POST', '/api/v2/sources', newSource).then((newSource) => {
                    toast('Added new fact source', true);
                    this.isEditingSourceName = true;
                    this.sources.push(newSource);
                    this.selectedSourceId = newSource.id;
                    this.selectedSource = newSource;
                    this.handleSelectSource();
                    this.$nextTick(() => {
                        document.getElementById('sourceName').focus();
                    });
                }).catch((error) => {
                    toast('Error adding source', false);
                    console.error(error);
                });
            },

            duplicateSource(source) {
                const newSource = { ...source, name: `${source.name} (copy)`, id: '' };
                apiV2('POST', '/api/v2/sources', newSource).then((newSource) => {
                    this.sources.push(newSource);
                    this.selectedSourceId = newSource.id;
                    this.selectedSource = newSource;
                    this.handleSelectSource();
                    toast('Duplicated fact source', true);
                }).catch((error) => {
                    toast('Error duplicating source', false);
                    console.error(error);
                });
            },

            addFact(newFact) {
                const updatedSource = { ...this.selectedSource };
                updatedSource.facts.push(newFact);
                apiV2('PUT', `/api/v2/sources/${this.selectedSource.id}`, updatedSource).then((res) => {
                    toast('Updated source', res);
                    this.showAddFactRow = false;
                }).catch((error) => {
                    toast('Error adding fact', false);
                    console.error(error);
                });
            },

            validateRule(newRule) {
                return !this.selectedSource.rules.find((r) => (r.match === newRule.match && r.trait === newRule.trait));
            },

            addRule(newRule) {
                if (!this.validateRule(newRule)) {
                    toast('Error: Rule already exists');
                    return;
                }
                const updatedSource = { ...this.selectedSource };
                updatedSource.rules.push(newRule);
                apiV2('PUT', `/api/v2/sources/${this.selectedSource.id}`, updatedSource).then((res) => {
                    toast('Updated source', true);
                    this.showAddRuleRow = false;
                }).catch((error) => {
                    toast('Error adding rule', false);
                    console.error(error);
                });
            },

            addRelationship() {
                const updatedSource = { ...this.selectedSource };
                updatedSource.relationships.push({
                    source: { trait: this.newRelationship.sourceTrait },
                    target: { trait: this.newRelationship.targetTrait },
                    edge: this.newRelationship.edge
                });
                apiV2('PUT', `/api/v2/sources/${this.selectedSource.id}`, updatedSource).then((res) => {
                    toast('Updated source', true);
                    this.showAddRelationshipRow = false;
                    this.newRelationship.sourceTrait = '';
                    this.newRelationship.targetTrait = '';
                    this.newRelationship.edge = '';
                }).catch((error) => {
                    toast('Error adding relationship', false);
                    console.error(error);
                });
            },

            deleteSource() {
                apiV2('DELETE', `/api/v2/sources/${this.selectedSourceId}`).then((res) => {
                    toast('Deleted fact source', true);
                    this.selectedSourceId = '';
                    this.selectedSource = { name: '', relationships: [] };
                    this.getSources();
                }).catch((error) => {
                    toast('Error deleting source', false);
                    console.error(error);
                });
            },

            deleteFact(index) {
                this.selectedSource.facts.splice(index, 1);
                this.factIndexToDelete = -1;
                this.updateFactSource();
            },

            deleteRule(index) {
                this.selectedSource.rules.splice(index, 1);
                this.ruleIndexToDelete = -1;
                this.updateFactSource();
            },

            deleteRelationship(index) {
                this.selectedSource.relationships.splice(index, 1);
                this.relationshipIndexToDelete = -1;
                this.updateFactSource();
            },

            saveSourceName() {
                apiV2('PATCH', `/api/v2/sources/${this.selectedSource.id}`, { name: this.selectedSource.name }).then((res) => {
                    toast('Source name updated', true);
                    this.isEditingSourceName = false;
                }).catch((error) => {
                    toast('Error loading page', false);
                    console.error(error);
                });
            },

            updateFactSource() {
                apiV2('PATCH', `/api/v2/sources/${this.selectedSource.id}`, this.selectedSource).then((res) => {
                    toast('Updated source', true);
                    this.selectedFactIndex = -1;
                    this.selectedRuleIndex = -1;
                    this.selectedRelationshipIndex = -1;
                    this.getSources();
                }).catch((error) => {
                    toast('Error loading page', false);
                    console.error(error);
                });
            },
        };
    }

    // # sourceURL=sources.js
</script>

<style>
    :scope {
        --dark-gray: gray;
        --light-gray: #e6e6e6;
        --decisions-color: #4fdcfc;
    }

    #sourcePage .edit-field {
        border-radius: 5px;
        width: 55px;
        height: 50px;
        padding: 5px;
    }

    #sourcePage .text-align-center {
        text-align: center !important;
    }

    #sourcePage button.no-style {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    #sourcePage .sources-menu-container {
        overflow-x: scroll;
        padding-bottom: 20px;
    }

    #sourcePage .source-menu-links {
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 7em;
        padding: 15px;
        height: fit-content;
        flex-flow: column wrap;
    }

    #sourcePage .source-menu-links:hover {
        background-color: var(--primary-color);
        border-radius: 5px;
    }

    #sourcePage .source-menu-links.active i, .source-menu-links.active span {
        /*font-size: 2.5em;*/
        /*color: rgb(248, 193, 69);*/
        color: var(--decisions-color);
        font-weight: 600;
    }

    #sourcePage .source-menu-links i {
        font-size: 2em;
        padding-bottom: 5px;
    }

    #sourcePage .collapsible-header button {
        height: 1em;
    }

    #sourcePage .collapsible-header button:focus, .collapsible-header button:active {
        color: inherit !important;
    }

    #sourcePage .collapsible-header button:hover {
        transform: none;
    }

    #sourcePage .collapsible-header button::after {
        margin-left: 0.5em !important;
        font-size: 0.75em;
    }

    #sourcePage table .code {
        color: #ff8181;
        background-color: #262626;
    }

    #sourcePage table tr th {
        font-weight: 400;
        font-size: 0.75rem;
        color: gray;
    }

    #sourcePage table tbody tr:hover, table tbody tr.selected {
        background-color: rgba(255, 255, 255, 0.1) !important;
        cursor: pointer;
    }

    #sourcePage table input.fact-score {
        width: 5em;
    }

    #sourcePage table .index-column {
        color: var(--dark-gray);
    }

    #sourcePage td {
        word-wrap: anywhere;
    }

    /*IMPORTED*/
    #sourcePage td.origin-IMPORTED {
        color: #848484;
    }

    /*SEEDED*/
    #sourcePage td.origin-SEEDED {
        color: #4a9;
    }

    /*LEARNED*/
    #sourcePage td.origin-LEARNED {
        color: #ffc500;
    }

    /*USER*/
    #sourcePage td.origin-USER {
        color: #a05195;
    }

    /*DOMAIN*/
    #sourcePage td.origin-DOMAIN {
        color: cornflowerblue;
    }

    #select-source {
        max-width: 800px;
        margin: 0 auto;
    }

</style>
