<div id="planners" class="section-profile planners">
  <div class="advanced row">
    <div class="bottomright duk-icon"><img onclick="toggleSidebar('planners-sidebar')" src="/gui/img/expand.png"></div>
    <div class="topleft duk-icon"><img onclick="removeSection('planners')" src="/gui/img/x.png"></div>
    <div id="planners-sidebar" class="column section-border" style="flex:25%">
      <img src="/gui/img/planners.png">
      <h4>Upgrade</h4>
      <p class="section-description">
          Caldera is always implementing new innovative elements, make sure you have all the newest
          features ready for your disposal.
      </p>
      <br>

      <div>
        <button class="upgradebtn" onclick="viewSection('upgrade', '/upgrade')">Download Latest Version</button>
      </div>

    </div>

    <div id="planner-info" class="column planner-header" style="flex:65%;text-align: left">
      <h3 id="planner-title"> Update Info:</h3>
      {% if upgrade_code %}
          <p id="planner-description"> {{ upgrade_code }} </p>
      {% endif %}
      <!-- {% if status_code %}
      <p id="planner-description"> {{ status_code }} </p>
      {% endif %} -->
    </div>
  </div>
</div>

<script>
    function loadPlanner() {
        function loadPlannerCallback(data) {
            // remove old text before displaying new text
            $('#planner-title').empty();
            $('#planner-description').empty();
            $('#planner-stop-conditions').empty();

            // fill text from API callback
            $('#add_sc_button').show();
            $('#planner-title').text(data[0]['name']);
            $('#planner-description').text(data[0]['description']);
        }
        restRequest('POST'  , {'index':'planners', 'name': $('#planner-select').val()}, loadPlannerCallback);
    }

    //# sourceURL=planners.js
</script>

<style>
 .upgradebtn {
   border-radius: 4px;
   transition-duration: 0.4s;
 }

 .upgradebtn:hover {
   background-color: rgb(31, 30, 30);
   color: white;
 }
</style>