@charset "utf-8"

$body-background-dark: #161616

// Update Bulma's global variables
$family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"

// Update some of Bulma's component variables
$body-background-color: $body-background-dark

$tabs-boxed-link-radius: 6px

$menu-item-color: #ffffff

$box-radius: 6px
