<div id="add_fancy_artifactlist" data-bind="with: add_fancy_artifactlist" class="article page">
    <div class="row">
        <div class="col-xs-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h1 class="panel-title">
                    <span data-bind="visible: !active_id()">Create New </span><span data-bind="visible: active_id">Edit </span>
                    Artifact List</h1></div>
                <form class="panel-body" data-bind="submit: submit">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name" class="control-label required"><abbr title="required">*</abbr>Name</label>
                            <div class="">
                                <input type="text" id="name" class="form-control" autocomplete="off" data-bind="value: name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="control-label required"><abbr title="required">*</abbr>Description</label>
                            <div class="">
                                <input type="text" id="description" class="form-control" autocomplete="off" data-bind="value: description">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="configurationInput" class="control-label required"><abbr title="required">*</abbr>Configuration</label>
                            <textarea id="configurationInput" class="form-control auto-expand mono-font" rows="10" data-min-rows="10" data-bind="textInput: configuration"></textarea>
                            <span class="help-block">Enter an artifact list specification in <a href="https://en.wikipedia.org/wiki/YAML">YAML format</a>.</span>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <button class="btn btn-default" data-bind="click: set_default_values">Reset</button>
                        <button class="btn btn-danger" data-bind="click: deleteArtifactlist; visible: active_id">Delete</button>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Output</label>
                        <div data-bind="foreach: parsed">
                            <label data-bind="text: $data.key"></label>
                            <ul data-bind="foreach: $data.value">
                                <li data-bind="text: $data"></li>
                            </ul>
                        </div>
                        <div data-bind="visible: errorText() !== ''">
                            <pre data-bind="text: errorText" style="color: red"></pre>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>