<div id="commandWindow" data-bind="with: commandWindow" class="page">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Execute a Command</h1>
                </div>
                <form class="form-horizontal panel-body" data-bind="submit: submit">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Remote Host</label>
                        <div class="col-sm-9">
                            <select class="form-control"
                                    data-bind="options: hosts,
                                               optionsText: 'hostname',
                                               value: host">
                            </select>
                        </div>
                    </div>
                    <!-- <h3>Console for <span data-bind="text: host.hostname"></span></h3> -->
                    <div class="command-console" data-bind="foreach: commands">
                        <pre data-bind="text: $data"></pre>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                        <button class="btn btn-default btn-lg" data-bind="click:clear" type="button">Clear</button>
                        </div>
                        <div class="col-xs-10">
                            <div class="input-group input-group-lg">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-console" aria-hidden="true"></span></button>
                                </span>
                                <input type="text" class="form-control" name="command_line" id="command_line" data-bind="value: command_line">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
