name: Code Testing

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: 3.6
            toxenv: py36,style,coverage-ci
          - python-version: 3.7
            toxenv: py37,style,coverage-ci
          - python-version: 3.8
            toxenv: py38,style,coverage-ci

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install --upgrade virtualenv
          pip install tox
      - name: Run tests
        env:
          TOXENV: ${{ matrix.toxenv }}
        run: tox
      - uses: codecov/codecov-action@v1
        with:
          files: ./coverage.xml
